<aside class="account-control">
  <div class="account-control__head">
    <h2 class="title account-control__accent">Annette Black</h2>
    <span class="account-control__inert">annetteb@example.com</span>
  </div>
  <nav class="nav account-control__nav" title="Navigation through account sections">
    <ul class="list-reset nav__list account-control__list">
      <li class="nav__item account-control__item">
        <a href="/profile.html" class="account-control__link account-control__link--profile">
          <svg class="svg account-control__icon">
            <use xlink:href="img/sprite.svg#profile"></use>
          </svg>
          My profile
        </a>
      </li>
      <li class="nav__item account-control__item">
        <a href="/orders.html" class="account-control__link account-control__link--orders">
          <svg class="svg account-control__icon">
            <use xlink:href="img/sprite.svg#bag"></use>
          </svg>
          My orders
        </a>
      </li>
      <li class="nav__item account-control__item">
        <a href="/wishlist.html" class="account-control__link account-control__link--wishlist">
          <svg class="svg account-control__icon">
            <use xlink:href="img/sprite.svg#heart-3"></use>
          </svg>
          Wishlist <span class="account-control__link-count" data-wishlist-count>2</span></a>
      </li>
      <li class="nav__item account-control__item">
        <a href="/recently.html" class="account-control__link account-control__link--viewed">
          <svg class="svg account-control__icon">
            <use xlink:href="img/sprite.svg#eyes"></use>
          </svg>
          Recently viewed</a>
      </li>
      <li class="nav__item account-control__item">
        <a href="/reviews.html" class="account-control__link account-control__link--reviews">
          <svg class="svg account-control__icon">
            <use xlink:href="img/sprite.svg#stat-outline"></use>
          </svg>
          My reviews</a>
      </li>
      <li class="nav__item account-control__item">
        <a href="/" class="account-control__link account-control__link--sign out">
          <svg class="svg account-control__icon">
            <use xlink:href="img/sprite.svg#logout"></use>
          </svg>
          Sign out</a>
      </li>
    </ul>
  </nav>
</aside>
