<section class="arrivals" data-anchor="arrivals">
  <div class="container-large arrivals__container">
    <h2 class="title h2 centered arrivals__title anim-item anim-item--norepeat">
      New arrivals
    </h2>
    <div class="arrivals__wrapper">
      <span class="arrivals__desc anim-item anim-item--norepeat">Check out our latest arrivals for the upcoming season</span>
      <span class="arrivals__desc arrivals__desc--underline anim-item anim-item--norepeat">See the collection here</span>
    </div>
    <div class="swiper arrivals__slider anim-item anim-item--norepeat" data-arrivals-slider>
      <div class="swiper-wrapper arrivals__slider-wrapper">
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-1.avif" type="image/avif">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="390" height="440"
                    alt="Black and white sport cap">
                </picture>
              </a>
              <ul class="list-reset rating card__rating">
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
              </ul>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">Black and white sport cap</h3>
                </a>
                <span class="card__price price">$18.15</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-2.avif" type="image/avif">
                  <source srcset="img/product-image-2.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-2.jpg" class="image" width="390" height="440"
                    alt="Metal bridge sunglasses">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">Metal bridge sunglasses</h3>
                </a>
                <span class="card__price price">$89.95</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-3.avif" type="image/avif">
                  <source srcset="img/product-image-3.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-3.jpg" class="image" width="390" height="440"
                    alt="Green baby romper">
                </picture>
              </a>
              <ul class="list-reset rating card__rating">
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star"></li>
              </ul>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">Green baby romper</h3>
                </a>
                <span class="card__price price">$20.40</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-4.avif" type="image/avif">
                  <source srcset="img/product-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-4.jpg" class="image" width="390" height="440"
                    alt="Mid-rise slim cropped fit jeans">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Mid-rise slim cropped fit jeans
                  </h3>
                </a>
                <span class="card__price price">$40.00</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-5.avif" type="image/avif">
                  <source srcset="img/product-image-5.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-5.jpg" class="image" width="390" height="440"
                    alt="Red dangle earrings">
                </picture>
              </a>
              <ul class="list-reset rating card__rating">
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
              </ul>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">Red dangle earrings</h3>
                </a>
                <span class="card__price price">$29.95</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-6.avif" type="image/avif">
                  <source srcset="img/product-image-6.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-6.jpg" class="image" width="390" height="440"
                    alt="Baby shoes with laces">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">Baby shoes with laces</h3>
                </a>
                <span class="card__price price">$30.60</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-1.avif" type="image/avif">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="390" height="440"
                    alt="Black and white sport cap">
                </picture>
              </a>
              <ul class="list-reset rating card__rating">
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
              </ul>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">Black and white sport cap</h3>
                </a>
                <span class="card__price price">$18.15</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-2.avif" type="image/avif">
                  <source srcset="img/product-image-2.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-2.jpg" class="image" width="390" height="440"
                    alt="Metal bridge sunglasses">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">Metal bridge sunglasses</h3>
                </a>
                <span class="card__price price">$89.95</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-3.avif" type="image/avif">
                  <source srcset="img/product-image-3.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-3.jpg" class="image" width="390" height="440"
                    alt="Green baby romper">
                </picture>
              </a>
              <ul class="list-reset rating card__rating">
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star"></li>
              </ul>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">Green baby romper</h3>
                </a>
                <span class="card__price price">$20.40</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-4.avif" type="image/avif">
                  <source srcset="img/product-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-4.jpg" class="image" width="390" height="440"
                    alt="Mid-rise slim cropped fit jeans">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Mid-rise slim cropped fit jeans
                  </h3>
                </a>
                <span class="card__price price">$40.00</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-5.avif" type="image/avif">
                  <source srcset="img/product-image-5.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-5.jpg" class="image" width="390" height="440"
                    alt="Red dangle earrings">
                </picture>
              </a>
              <ul class="list-reset rating card__rating">
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
              </ul>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">Red dangle earrings</h3>
                </a>
                <span class="card__price price">$29.95</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide arrivals__slider-slide">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-6.avif" type="image/avif">
                  <source srcset="img/product-image-6.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-6.jpg" class="image" width="390" height="440"
                    alt="Baby shoes with laces">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">Baby shoes with laces</h3>
                </a>
                <span class="card__price price">$30.60</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black" class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown" class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise" class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="swiper-pagination arrivals__slider-pagination"></div>
    </div>
  </div>
  <div class="container-large arrivals__container">
    <ul class="list-reset arrivals__list">
      <li class="arrivals__item arrivals__item--less arrivals__item--1 anim-item anim-item--norepeat">
        <div class="arrivals__item-wrapper">
          <span class="arrivals__item-desc">Summer Collections</span>
          <span class="arrivals__item-accent">Sale Up to 70%</span>
          <a href="#" class="btn-reset btn-border arrivals__btn">Explore new prices</a>
        </div>
      </li>
      <li class="arrivals__item arrivals__item--more arrivals__item--2 anim-item anim-item--norepeat">
        <div class="arrivals__item-wrapper">
          <span class="arrivals__item-desc">Deal of the week</span>
          <span class="arrivals__item-accent">Stay Warm With Our New Sweaters</span>
          <a href="#" class="btn-reset btn-border arrivals__btn">Shop now</a>

          <div class="arrivals__limit" tabindex="0">
            <span class="arrivals__item-desc">Limited time offer</span>
            <div id="clock" class="timer arrivals__timer" role="timer" aria-live="off">
              <span id="clock-days" class="timer__item timer__item--days">06</span>
              <span id="clock-hours" class="timer__item timer__item--hours">18</span>
              <span id="clock-mins" class="timer__item timer__item--mins">24</span>
              <span id="clock-sec" class="timer__item timer__item--sec">12</span>
            </div>
          </div>
        </div>
      </li>
      <li class="arrivals__item arrivals__item--more arrivals__item--3 anim-item anim-item--norepeat">
        <div class="arrivals__item-wrapper">
          <span class="arrivals__item-desc">New collection</span>
          <span class="arrivals__item-accent">Shoes & Bags autumn / winter 2020</span>
          <a href="#" class="btn-reset btn-border arrivals__btn">
            See offers
            <svg class="svg btn-border__icon">
              <use xlink:href="img/sprite.svg#right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="arrivals__item arrivals__item--less arrivals__item--4 anim-item anim-item--norepeat">
        <div class="arrivals__item-wrapper">
          <span class="arrivals__item-desc">For All new Email Subscribers</span>
          <span class="arrivals__item-accent">Get 5% Off & Free Delivery</span>
          <form action="/" method="post" class="form arrivals__form">
            <div class="arrivals__form-wrapper">
              <label class="label arrivals__label">
                <span class="arrivals__form-desc">Email</span>
                <input type="email" class="input-reset input input--email arrivals__form-input" aria-label="Enter email" placeholder="Your working email">
              </label>
              <button type="submit" class="btn-reset btn-primary arrivals__form-btn">Subscribe</button>
            </div>
            <span class="arrivals__form-desc">*Sign up to be the first to hear about exclusive deals, special offers and upcoming collections.</span>
          </form>
        </div>
      </li>
    </ul>
  </div>
</section>
