<section class="arrivals arrivals--p" data-header-fixed>
  <div class="container arrivals__container">
    <h2 class="title h2 arrivals__title arrivals__title--m">Complete your look</h2>
    <div class="arrivals__content">
      <picture class="picture arrivals__picture">
        <source srcset="img/recommendation-image-1.avif" type="image/avif">
        <source srcset="img/recommendation-image-1.webp" type="image/webp">
        <img loading="lazy" src="img/recommendation-image-1.jpg" class="image" width="495" height="600" alt="Your finished look">
      </picture>
      <div class="arrivals__slider-container arrivals__slider-container--mw">
        <div class="arrivals__slider-nav">
          <button type="button" class="btn-reset control swiper-button-prev arrivals__control arrivals__control--prev">
            <svg class="svg control__icon">
              <use xlink:href="img/sprite.svg#left"></use>
            </svg>
          </button>
          <button type="button" class="btn-reset control swiper-button-next arrivals__control arrivals__control--next">
            <svg class="svg control__icon">
              <use xlink:href="img/sprite.svg#right"></use>
            </svg>
          </button>
        </div>
        <div class="swiper arrivals__slider arrivals__slider--p" data-arrivals-slider>
          <div class="swiper-wrapper arrivals__slider-wrapper">
            <div class="swiper-slide arrivals__slider-slide">
              <article class="card card--white">
                <div class="card__top">
                  <a href="/product.html" aria-label="Go to product page" class="card__link">
                    <picture class="picture card__picture">
                      <source srcset="img/product-image-15.avif" type="image/avif">
                      <source srcset="img/product-image-15.webp" type="image/webp">
                      <img loading="lazy" src="img/product-image-15.jpg" class="image" width="390" height="440"
                        alt="Denim shorts">
                    </picture>
                  </a>
                  <span class="discount card__discount">-20%</span>
                  <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                    aria-label="Add to wishlist">
                </div>
                <div class="card__bottom">
                  <div class="card__head">
                    <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                      <h3 class="title card__title">Denim shorts</h3>
                    </a>
                    <span class="card__price price price--red" data-old-price="$24.00">$20.00</span>
                  </div>
                  <div class="card__additional">
                    <div class="card__options">
                      <fieldset class="fieldset-reset card__fieldset">
                        <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                      </fieldset>
                      <fieldset class="fieldset-reset card__fieldset">
                        <input type="radio" name="color" value="black"
                          class="input-reset radio-color radio-color--black card__radio">
                        <input type="radio" name="color" value="brown"
                          class="input-reset radio-color radio-color--brown card__radio">
                        <input type="radio" name="color" value="turquoise"
                          class="input-reset radio-color radio-color--turquoise card__radio">
                      </fieldset>
                    </div>
                    <button class="btn-reset btn-primary card__btn">
                      <svg class="svg btn-primary__icon">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                      Add to cart
                    </button>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide arrivals__slider-slide">
              <article class="card card--white">
                <div class="card__top">
                  <a href="/product.html" aria-label="Go to product page" class="card__link">
                    <picture class="picture card__picture">
                      <source srcset="img/product-image-16.avif" type="image/avif">
                      <source srcset="img/product-image-16.webp" type="image/webp">
                      <img loading="lazy" src="img/product-image-16.jpg" class="image" width="390" height="440"
                        alt="Modal-blend trenchcoat">
                    </picture>
                  </a>
                  <ul class="list-reset rating card__rating">
                    <li class="rating__star rating__star--noted"></li>
                    <li class="rating__star rating__star--noted"></li>
                    <li class="rating__star rating__star--noted"></li>
                    <li class="rating__star rating__star--noted"></li>
                    <li class="rating__star rating__star--noted"></li>
                  </ul>
                  <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                    aria-label="Add to wishlist">
                </div>
                <div class="card__bottom">
                  <div class="card__head">
                    <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                      <h3 class="title card__title">Modal-blend trenchcoat</h3>
                    </a>
                    <span class="card__price price">$45.20</span>
                  </div>
                  <div class="card__additional">
                    <div class="card__options">
                      <fieldset class="fieldset-reset card__fieldset">
                        <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                      </fieldset>
                      <fieldset class="fieldset-reset card__fieldset">
                        <input type="radio" name="color" value="black"
                          class="input-reset radio-color radio-color--black card__radio">
                        <input type="radio" name="color" value="brown"
                          class="input-reset radio-color radio-color--brown card__radio">
                        <input type="radio" name="color" value="turquoise"
                          class="input-reset radio-color radio-color--turquoise card__radio">
                      </fieldset>
                    </div>
                    <button class="btn-reset btn-primary card__btn">
                      <svg class="svg btn-primary__icon">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                      Add to cart
                    </button>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide arrivals__slider-slide">
              <article class="card card--white">
                <div class="card__top">
                  <a href="/product.html" aria-label="Go to product page" class="card__link">
                    <picture class="picture card__picture">
                      <source srcset="img/product-image-4.avif" type="image/avif">
                      <source srcset="img/product-image-4.webp" type="image/webp">
                      <img loading="lazy" src="img/product-image-4.jpg" class="image" width="390" height="440"
                        alt="Mid-rise slim cropped fit jeans">
                    </picture>
                  </a>
                  <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                    aria-label="Add to wishlist">
                </div>
                <div class="card__bottom">
                  <div class="card__head">
                    <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                      <h3 class="title card__title">
                        Mid-rise slim cropped fit jeans
                      </h3>
                    </a>
                    <span class="card__price price">$40.00</span>
                  </div>
                  <div class="card__additional">
                    <div class="card__options">
                      <fieldset class="fieldset-reset card__fieldset">
                        <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                      </fieldset>
                      <fieldset class="fieldset-reset card__fieldset">
                        <input type="radio" name="color" value="black"
                          class="input-reset radio-color radio-color--black card__radio">
                        <input type="radio" name="color" value="brown"
                          class="input-reset radio-color radio-color--brown card__radio">
                        <input type="radio" name="color" value="turquoise"
                          class="input-reset radio-color radio-color--turquoise card__radio">
                      </fieldset>
                    </div>
                    <button class="btn-reset btn-primary card__btn">
                      <svg class="svg btn-primary__icon">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                      Add to cart
                    </button>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide arrivals__slider-slide">
              <article class="card card--white">
                <div class="card__top">
                  <a href="/product.html" aria-label="Go to product page" class="card__link">
                    <picture class="picture card__picture">
                      <source srcset="img/product-image-5.avif" type="image/avif">
                      <source srcset="img/product-image-5.webp" type="image/webp">
                      <img loading="lazy" src="img/product-image-5.jpg" class="image" width="390" height="440"
                        alt="Red dangle earrings">
                    </picture>
                  </a>
                  <ul class="list-reset rating card__rating">
                    <li class="rating__star rating__star--noted"></li>
                    <li class="rating__star rating__star--noted"></li>
                    <li class="rating__star rating__star--noted"></li>
                    <li class="rating__star rating__star--noted"></li>
                    <li class="rating__star rating__star--noted"></li>
                  </ul>
                  <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                    aria-label="Add to wishlist">
                </div>
                <div class="card__bottom">
                  <div class="card__head">
                    <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                      <h3 class="title card__title">Red dangle earrings</h3>
                    </a>
                    <span class="card__price price">$29.95</span>
                  </div>
                  <div class="card__additional">
                    <div class="card__options">
                      <fieldset class="fieldset-reset card__fieldset">
                        <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                      </fieldset>
                      <fieldset class="fieldset-reset card__fieldset">
                        <input type="radio" name="color" value="black"
                          class="input-reset radio-color radio-color--black card__radio">
                        <input type="radio" name="color" value="brown"
                          class="input-reset radio-color radio-color--brown card__radio">
                        <input type="radio" name="color" value="turquoise"
                          class="input-reset radio-color radio-color--turquoise card__radio">
                      </fieldset>
                    </div>
                    <button class="btn-reset btn-primary card__btn">
                      <svg class="svg btn-primary__icon">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                      Add to cart
                    </button>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide arrivals__slider-slide">
              <article class="card card--white">
                <div class="card__top">
                  <a href="/product.html" aria-label="Go to product page" class="card__link">
                    <picture class="picture card__picture">
                      <source srcset="img/product-image-6.avif" type="image/avif">
                      <source srcset="img/product-image-6.webp" type="image/webp">
                      <img loading="lazy" src="img/product-image-6.jpg" class="image" width="390" height="440"
                        alt="Baby shoes with laces">
                    </picture>
                  </a>
                  <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                    aria-label="Add to wishlist">
                </div>
                <div class="card__bottom">
                  <div class="card__head">
                    <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                      <h3 class="title card__title">Baby shoes with laces</h3>
                    </a>
                    <span class="card__price price">$30.60</span>
                  </div>
                  <div class="card__additional">
                    <div class="card__options">
                      <fieldset class="fieldset-reset card__fieldset">
                        <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                        <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                      </fieldset>
                      <fieldset class="fieldset-reset card__fieldset">
                        <input type="radio" name="color" value="black"
                          class="input-reset radio-color radio-color--black card__radio">
                        <input type="radio" name="color" value="brown"
                          class="input-reset radio-color radio-color--brown card__radio">
                        <input type="radio" name="color" value="turquoise"
                          class="input-reset radio-color radio-color--turquoise card__radio">
                      </fieldset>
                    </div>
                    <button class="btn-reset btn-primary card__btn">
                      <svg class="svg btn-primary__icon">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                      Add to cart
                    </button>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="swiper-pagination arrivals__slider-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
