<section class="blog">
  <div class="container blog__container">
    <div class="blog__head anim-item anim-item--norepeat">
      <h2 class="title h2 blog__title">Fashion blog</h2>
      <a href="/blog.html" class="btn-reset btn-border blog__btn">View blog</a>
    </div>
    <ul class="list-reset blog__list">
      <li class="blog__item anim-item anim-item--norepeat">
        <article class="post">
          <a href="/single-post.html" class="post__link" aria-label="Go to post">
            <picture class="picture post__picture">
              <source srcset="img/post-image-1.avif" type="image/avif">
              <source srcset="img/post-image-1.webp" type="image/webp">
              <img loading="lazy" src="img/post-image-1.jpg" class="image post__image" width="600" height="306" alt="" aria-hidden="true">
            </picture>
          </a>
          <div class="post__content">
            <a href="/single-post.html" class="post__link post__link--title">
              <h3 class="title h3 post__title">Bag Trends for Summer 2020</h3>
            </a>
            <div class="post__meta">
              <span class="post__meta-desc">Fashion</span>
              <time datetime="2020-08-24" class="post__meta-desc">August 24, 2020</time>
              <a href="#" class="post__meta-desc post__meta-desc--comment">No comments</a>
            </div>
            <p class="text post__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, voluptate
              cupiditate. Reiciendis soluta laborum ad sequi quis. Sunt a molestiae nesciunt aut libero enim non
              distinctio doloremque sed? Saepe, officiis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, voluptate
              cupiditate. Reiciendis soluta laborum ad sequi quis. Sunt a molestiae nesciunt aut libero enim non
              distinctio doloremque sed? Saepe, officiis.
            </p>
          </div>
        </article>
      </li>
      <li class="blog__item anim-item anim-item--norepeat">
        <article class="post">
          <a href="/single-post.html" class="post__link" aria-label="Go to post">
            <picture class="picture post__picture">
              <source srcset="img/post-image-2.avif" type="image/avif">
              <source srcset="img/post-image-2.webp" type="image/webp">
              <img loading="lazy" src="img/post-image-2.jpg" class="image post__image" width="600" height="306" alt="" aria-hidden="true">
            </picture>
          </a>
          <div class="post__content">
            <a href="/single-post.html" class="post__link post__link--title">
              <h3 class="title h3 post__title">Top 10 of This Season’s Hottest Sneakers</h3>
            </a>
            <div class="post__meta">
              <span class="post__meta-desc">Lifestyle</span>
              <time datetime="2020-07-16" class="post__meta-desc">July 16, 2020</time>
              <a href="#" class="post__meta-desc post__meta-desc--comment">4 comments</a>
            </div>
            <p class="text post__text">Impedit, voluptate
              cupiditate. Reiciendis soluta laborum ad sequi quis. Sunt a molestiae nesciunt aut libero enim non
              distinctio doloremque sed? Saepe, officiis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, voluptate
              cupiditate. Reiciendis soluta laborum ad sequi quis. Sunt a molestiae nesciunt aut libero enim non
              distinctio doloremque sed? Saepe, officiis.
            </p>
          </div>
        </article>
      </li>
    </ul>
    @include('brands.html')
  </div>
</section>
