<div class="brands">
  <ul class="list-reset brands__list" data-anchor="brands">
    <li class="brands__item anim-item anim-item--norepeat">
      <picture class="picture brands__picture">
        <source srcset="img/brand-logo-1.avif" type="image/avif">
        <source srcset="img/brand-logo-1.webp" type="image/webp">
        <img loading="lazy" src="img/brand-logo-1.png" class="image brands__image" width="120" height="64" alt="InDepth Cosulding">
      </picture>
    </li>
    <li class="brands__item anim-item anim-item--norepeat">
      <picture class="picture brands__picture">
        <source srcset="img/brand-logo-2.avif" type="image/avif">
        <source srcset="img/brand-logo-2.webp" type="image/webp">
        <img loading="lazy" src="img/brand-logo-2.png" class="image brands__image" width="120" height="64" alt="Higher fit">
      </picture>
    </li>
    <li class="brands__item anim-item anim-item--norepeat">
      <picture class="picture brands__picture">
        <source srcset="img/brand-logo-3.avif" type="image/avif">
        <source srcset="img/brand-logo-3.webp" type="image/webp">
        <img loading="lazy" src="img/brand-logo-3.png" class="image brands__image" width="120" height="64" alt="sentinal cosulding">
      </picture>
    </li>
    <li class="brands__item anim-item anim-item--norepeat">
      <picture class="picture brands__picture">
        <source srcset="img/brand-logo-4.avif" type="image/avif">
        <source srcset="img/brand-logo-4.webp" type="image/webp">
        <img loading="lazy" src="img/brand-logo-4.png" class="image brands__image" width="120" height="64" alt="National">
      </picture>
    </li>
    <li class="brands__item anim-item anim-item--norepeat">
      <picture class="picture brands__picture">
        <source srcset="img/brand-logo-5.avif" type="image/avif">
        <source srcset="img/brand-logo-5.webp" type="image/webp">
        <img loading="lazy" src="img/brand-logo-5.png" class="image brands__image" width="120" height="64" alt="orSale">
      </picture>
    </li>
    <li class="brands__item anim-item anim-item--norepeat">
      <picture class="picture brands__picture">
        <source srcset="img/brand-logo-6.avif" type="image/avif">
        <source srcset="img/brand-logo-6.webp" type="image/webp">
        <img loading="lazy" src="img/brand-logo-6.png" class="image brands__image" width="120" height="64" alt="Del Mar Srategy">
      </picture>
    </li>
  </ul>
</div>
