<section class="categories">
  <div class="container categories__container">
    <h2 class="title h2 centered categories__title anim-item anim-item--norepeat">Popular categories</h2>
    <ul class="list-reset categories__list">
      <li class="categories__item anim-item anim-item--norepeat">
        <a href="#" class="categories__link" aria-label="go to category: Tops">
          <picture class="picture categories__picture">
            <source srcset="img/category-image-1.avif" type="image/avif">
            <source srcset="img/category-image-1.webp" type="image/webp">
            <img loading="lazy" src="img/category-image-1.jpg" class="image categories__image" width="180" height="180" alt="Tops">
          </picture>
          <span class="categories__desc">Tops</span>
        </a>
      </li>
      <li class="categories__item anim-item anim-item--norepeat">
        <a href="#" class="categories__link" aria-label="go to category: T-shirts">
          <picture class="picture categories__picture">
            <source srcset="img/category-image-2.avif" type="image/avif">
            <source srcset="img/category-image-2.webp" type="image/webp">
            <img loading="lazy" src="img/category-image-2.jpg" class="image categories__image" width="180" height="180" alt="T-shirts">
          </picture>
          <span class="categories__desc">T-shirts</span>
        </a>
      </li>
      <li class="categories__item anim-item anim-item--norepeat">
        <a href="#" class="categories__link" aria-label="go to category: Caps">
          <picture class="picture categories__picture">
            <source srcset="img/category-image-3.avif" type="image/avif">
            <source srcset="img/category-image-3.webp" type="image/webp">
            <img loading="lazy" src="img/category-image-3.jpg" class="image categories__image" width="180" height="180" alt="Caps">
          </picture>
          <span class="categories__desc">Caps</span>
        </a>
      </li>
      <li class="categories__item anim-item anim-item--norepeat">
        <a href="#" class="categories__link" aria-label="go to category: Sandals">
          <picture class="picture categories__picture">
            <source srcset="img/category-image-4.avif" type="image/avif">
            <source srcset="img/category-image-4.webp" type="image/webp">
            <img loading="lazy" src="img/category-image-4.jpg" class="image categories__image" width="180" height="180" alt="Sandals">
          </picture>
          <span class="categories__desc">Sandals</span>
        </a>
      </li>
      <li class="categories__item anim-item anim-item--norepeat">
        <a href="#" class="categories__link" aria-label="go to category: Jackets">
          <picture class="picture categories__picture">
            <source srcset="img/category-image-5.avif" type="image/avif">
            <source srcset="img/category-image-5.webp" type="image/webp">
            <img loading="lazy" src="img/category-image-5.jpg" class="image categories__image" width="180" height="180" alt="Jackets">
          </picture>
          <span class="categories__desc">Jackets</span>
        </a>
      </li>
      <li class="categories__item anim-item anim-item--norepeat">
        <a href="#" class="categories__link" aria-label="go to category: Coats">
          <picture class="picture categories__picture">
            <source srcset="img/category-image-6.avif" type="image/avif">
            <source srcset="img/category-image-6.webp" type="image/webp">
            <img loading="lazy" src="img/category-image-6.jpg" class="image categories__image" width="180" height="180" alt="Coats">
          </picture>
          <span class="categories__desc">Coats</span>
        </a>
      </li>
    </ul>
  </div>
</section>
