<section class="checkout">
  <div class="container checkout__container">
    <div class="checkout__content">
      <div class="checkout__head">
        <h1 class="title h2 checkout__title">Checkout</h1>
        <a href="/catalog.html" class="checkout__link">Back to shopping</a>
        <div class="checkout__widget">Already have an account?  <b data-modal="login" tabindex="0">Sign in</b>  for faster checkout experience</div>
      </div>
      <div class="checkout__wrapper">
        <h2 class="title checkout__accent checkout__wrapper-accent">1. Item Review</h2>
        <div class="review">
          <ul class="list-reset review__list">
            <li class="review__item">
              <div class="review__product">
                <picture class="picture review__picture">
                  <source srcset="img/product-image-13.avif" type="image/avif">
                  <source srcset="img/product-image-13.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-13.jpg" class="image" width="80" height="80" alt="Basic hooded sweatshirt in pink">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Basic hooded sweatshirt in pink</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">pink</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="stepper review__product-stepper">
                <label class="stepper__field review__product-stepper-field">
                  <input type="text" value="1" maxlength="3" class="stepper__input review__desc" aria-label="Number of selected items">
                </label>
                <div class="stepper__btns review__product-stepper-btns">
                  <button class="stepper__btn stepper__btn--up" aria-label="Increase Quantity">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.99966 0.666992L12.6185 6.66699H3.38086L7.99966 0.666992Z" fill="#1E212C" />
                    </svg>
                  </button>
                  <button class="stepper__btn stepper__btn--down stepper__btn--disabled"
                    aria-label="Reduce the amount of" disabled>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.99966 15.3337L3.38086 8.83366L12.6185 8.83366L7.99966 15.3337Z" fill="#1E212C" />
                    </svg>
                  </button>
                </div>
              </div>
              <span class="price price--red review__price" data-old-price="$31.00">$15.50</span>
              <div class="review__product-btns">
                <button type="button" class="btn-reset btn-border review__btn-border">Delete</button>
                <button type="button" class="btn-reset review__product-wishlist review__desc review__desc--gray review__desc--bold">
                  Move to
                  <svg class="svg review__product-icon">
                    <use xlink:href="img/sprite.svg#heart-3"></use>
                  </svg>
                </button>
              </div>
            </li>
            <li class="review__item">
              <div class="review__product">
                <picture class="picture review__picture">
                  <source srcset="img/product-image-1.avif" type="image/avif">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="80" height="80" alt="Black and white sport cap">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Black and white sport cap</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="stepper review__product-stepper">
                <label class="stepper__field review__product-stepper-field">
                  <input type="text" value="1" maxlength="3" class="stepper__input review__desc" aria-label="Number of selected items">
                </label>
                <div class="stepper__btns review__product-stepper-btns">
                  <button class="stepper__btn stepper__btn--up" aria-label="Increase Quantity">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.99966 0.666992L12.6185 6.66699H3.38086L7.99966 0.666992Z" fill="#1E212C" />
                    </svg>
                  </button>
                  <button class="stepper__btn stepper__btn--down stepper__btn--disabled"
                    aria-label="Reduce the amount of" disabled>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.99966 15.3337L3.38086 8.83366L12.6185 8.83366L7.99966 15.3337Z" fill="#1E212C" />
                    </svg>
                  </button>
                </div>
              </div>
              <span class="price price--red review__price">$18.15</span>
              <div class="review__product-btns">
                <button type="button" class="btn-reset btn-border review__btn-border">Delete</button>
                <button type="button" class="btn-reset review__product-wishlist review__desc review__desc--gray review__desc--bold">
                  Move to
                  <svg class="svg review__product-icon">
                    <use xlink:href="img/sprite.svg#heart-3"></use>
                  </svg>
                </button>
              </div>
            </li>
            <li class="review__item">
              <div class="review__product">
                <picture class="picture review__picture">
                  <source srcset="img/product-image-4.avif" type="image/avif">
                  <source srcset="img/product-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-4.jpg" class="image" width="80" height="80" alt="Mid-rise slim cropped fit jeans">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Mid-rise slim cropped fit jeans</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">M</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="stepper review__product-stepper">
                <label class="stepper__field review__product-stepper-field">
                  <input type="text" value="2" maxlength="3" class="stepper__input review__desc" aria-label="Number of selected items">
                </label>
                <div class="stepper__btns review__product-stepper-btns">
                  <button class="stepper__btn stepper__btn--up" aria-label="Increase Quantity">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.99966 0.666992L12.6185 6.66699H3.38086L7.99966 0.666992Z" fill="#1E212C" />
                    </svg>
                  </button>
                  <button class="stepper__btn stepper__btn--down stepper__btn--disabled"
                    aria-label="Reduce the amount of" disabled>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.99966 15.3337L3.38086 8.83366L12.6185 8.83366L7.99966 15.3337Z" fill="#1E212C" />
                    </svg>
                  </button>
                </div>
              </div>
              <span class="price price--red review__price">$80.00</span>
              <div class="review__product-btns">
                <button type="button" class="btn-reset btn-border review__btn-border">Delete</button>
                <button type="button" class="btn-reset review__product-wishlist review__desc review__desc--gray review__desc--bold">
                  Move to
                  <svg class="svg review__product-icon">
                    <use xlink:href="img/sprite.svg#heart-3"></use>
                  </svg>
                </button>
              </div>
            </li>
            <li class="review__item">
              <div class="review__product">
                <picture class="picture review__picture">
                  <source srcset="img/product-image-14.avif" type="image/avif">
                  <source srcset="img/product-image-14.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-14.jpg" class="image" width="80" height="80" alt="Men fashion gray shoes">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Men fashion gray shoes</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">gray</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">44</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="stepper review__product-stepper">
                <label class="stepper__field review__product-stepper-field">
                  <input type="text" value="1" maxlength="3" class="stepper__input review__desc" aria-label="Number of selected items">
                </label>
                <div class="stepper__btns review__product-stepper-btns">
                  <button class="stepper__btn stepper__btn--up" aria-label="Increase Quantity">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.99966 0.666992L12.6185 6.66699H3.38086L7.99966 0.666992Z" fill="#1E212C" />
                    </svg>
                  </button>
                  <button class="stepper__btn stepper__btn--down stepper__btn--disabled"
                    aria-label="Reduce the amount of" disabled>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.99966 15.3337L3.38086 8.83366L12.6185 8.83366L7.99966 15.3337Z" fill="#1E212C" />
                    </svg>
                  </button>
                </div>
              </div>
              <span class="price price--red review__price">$85.00</span>
              <div class="review__product-btns">
                <button type="button" class="btn-reset btn-border review__btn-border">Delete</button>
                <button type="button" class="btn-reset review__product-wishlist review__desc review__desc--gray review__desc--bold">
                  Move to
                  <svg class="svg review__product-icon">
                    <use xlink:href="img/sprite.svg#heart-3"></use>
                  </svg>
                </button>
              </div>
            </li>
          </ul>
          <strong class="review__accent review__accent--strong">Subtotal: <output name="subtotal">$198.65</output></strong>
        </div>
      </div>
      <form action="/" method="post" class="form checkout__form" id="checkout">
        <fieldset class="fieldset-reset checkout__wrapper">
          <legend class="checkout__accent checkout__wrapper-accent">2. Shipping & Billing Address</legend>
          <div class="checkout__labels">
            <label class="label checkout__label">
              <span class="checkout__desc">First Name</span>
              <input type="text" class="input-reset input input--empty checkout__input" placeholder="Your first name" aria-label="Field for entering a name">
            </label>
            <label class="label checkout__label">
              <span class="checkout__desc">Last Name</span>
              <input type="text" class="input-reset input input--empty checkout__input" placeholder="Your last name" aria-label="Field for entering a name">
            </label>
            <label class="label checkout__label">
              <span class="checkout__desc">Email</span>
              <input type="email" class="input-reset input input--email checkout__input" placeholder="Your working email" aria-label="Mail input field">
            </label>
            <label class="label checkout__label">
              <span class="checkout__desc">Phone</span>
              <input type="tel" class="input-reset input input--tel checkout__input" placeholder="Your phone number" aria-label="Phone input field">
            </label>
            <label class="label checkout__label">
              <span class="checkout__desc">Country</span>
              <select name="country" class="select checkout__select">
                <option value="Germany">Germany</option>
                <option value="USA">USA</option>
                <option value="Russia">Russia</option>
              </select>
            </label>
            <label class="label checkout__label">
              <span class="checkout__desc">City</span>
              <select name="city" class="select checkout__select">
                <option value="Berlin">Berlin</option>
                <option value="Washington">Washington</option>
                <option value="Moscow">Moscow</option>
              </select>
            </label>
            <label class="label checkout__label">
              <span class="checkout__desc">Address</span>
              <input type="text" class="input-reset input input--empty checkout__input" placeholder="Your address" aria-label="Address field">
            </label>
            <label class="label checkout__label">
              <span class="checkout__desc">ZIP Code</span>
              <input type="text" class="input-reset input input--zipcode checkout__input" maxlength="5" placeholder="Your ZIP code" aria-label="field for entering ZIP code">
            </label>
          </div>
          <label class="label checkout__label checkout__label--row">
            <input type="checkbox" class="input-reset check-mark">
            <span class="checkout__desc">Billing and Shipping details are the same</span>
          </label>
        </fieldset>
        <fieldset class="fieldset-reset checkout__wrapper">
          <legend class="checkout__accent checkout__wrapper-accent">3. Shipping Method</legend>
          <ul class="list-reset checkout__list">
            <li class="checkout__item">
              <label class="label checkout__label checkout__item-label">
                <input type="radio" name="shipping-method" class="input-reset btn-radio checkout__btn-radio">
                <span class="checkout__desc checkout__desc--bold">Courier to your address</span>
                <span class="checkout__desc">Estimated date: September 9</span>
              </label>
              <span class="checkout__desc">$25.00</span>
            </li>
            <li class="checkout__item">
              <label class="label checkout__label checkout__item-label">
                <input type="radio" name="shipping-method" class="input-reset btn-radio checkout__btn-radio">
                <span class="checkout__desc checkout__desc--bold">Pick up from store</span>
                <span class="checkout__desc">Pick up on September 8 from 12:00</span>
              </label>
              <span class="checkout__desc">Free</span>
            </li>
            <li class="checkout__item">
              <label class="label checkout__label checkout__item-label">
                <input type="radio" name="shipping-method" class="input-reset btn-radio checkout__btn-radio">
                <span class="checkout__desc checkout__desc--bold">UPS Ground Shipping</span>
                <span class="checkout__desc">Up to one week</span>
              </label>
              <span class="checkout__desc">$10.00</span>
            </li>
            <li class="checkout__item">
              <label class="label checkout__label checkout__item-label">
                <input type="radio" name="shipping-method" class="input-reset btn-radio checkout__btn-radio">
                <span class="checkout__desc checkout__desc--bold">Pick up at Createx Locker</span>
                <span class="checkout__desc">Pick up on September 8 from 12:00</span>
              </label>
              <span class="checkout__desc">$8.50</span>
            </li>
            <li class="checkout__item">
              <label class="label checkout__label checkout__item-label">
                <input type="radio" name="shipping-method" class="input-reset btn-radio checkout__btn-radio">
                <span class="checkout__desc checkout__desc--bold">Createx Global Export</span>
                <span class="checkout__desc">3-4 days</span>
              </label>
              <span class="checkout__desc">$15.00</span>
            </li>
          </ul>
        </fieldset>
        <fieldset class="fieldset-reset checkout__wrapper">
          <legend class="checkout__accent checkout__wrapper-accent">4. Payment Method</legend>
          <div class="accordion-list accordion-list--form-payment">
            <div class="accordion-item form-payment checkout__payment">
              <div class="accordion-btn form-payment__btn">
                <label class="label form-payment__label">
                  <input type="radio" name="payment" class="input-reset btn-radio" checked>
                  <span class="checkout__desc checkout__desc--bold">Credit card</span>
                </label>
                <ul class="list-reset form-payment__payment payment">
                  <li class="payment__list">
                    <a href="#" target="_blank" rel="noopener noreferrer" aria-label="visa"
                      class="payment__link form-payment__link payment__link--visa"></a>
                  </li>
                  <li class="payment__list">
                    <a href="#" target="_blank" rel="noopener noreferrer" aria-label="masterCard"
                      class="payment__link form-payment__link payment__link--mastercard"></a>
                  </li>
                </ul>
              </div>
              <div class="accordion-content form-payment__content">
                <label class="checkout__label checkout__label--p">
                  <span class="checkout__desc">Card number</span>
                  <input type="number" class="input-reset input checkout__input" placeholder="0000 0000 0000 0000" aria-label="Card entry field">
                </label>
                <label class="checkout__label checkout__label--fb1">
                  <span class="checkout__desc">Expiry date</span>
                  <input type="date" class="input-reset input checkout__input checkout__input--date" aria-label="Card registration date">
                </label>
                <label class="checkout__label checkout__label--fb2">
                  <span class="checkout__desc">CVC</span>
                  <input type="number" class="input-reset input checkout__input" placeholder="000" aria-label="Code on the back of the card">
                </label>
              </div>
            </div>
            <div class="accordion-item form-payment checkout__payment">
              <div class="accordion-btn form-payment__btn">
                <label class="label form-payment__label">
                  <input type="radio" name="payment" class="input-reset btn-radio">
                  <span class="checkout__desc checkout__desc--bold">PayPal</span>
                </label>
                <ul class="list-reset form-payment__payment payment">
                  <li class="payment__list">
                    <a href="#" target="_blank" rel="noopener noreferrer" aria-label="payPal"
                      class="payment__link form-payment__link payment__link--paypal"></a>
                  </li>
                </ul>
              </div>
              <div class="accordion-content form-payment__content">
                <label class="checkout__label checkout__label--p">
                  <span class="checkout__desc">Card number</span>
                  <input type="number" class="input-reset input checkout__input" placeholder="0000 0000 0000 0000" aria-label="Card entry field">
                </label>
                <label class="checkout__label checkout__label--fb1">
                  <span class="checkout__desc">Expiry date</span>
                  <input type="date" class="input-reset input checkout__input checkout__input--date" aria-label="Card registration date">
                </label>
                <label class="checkout__label checkout__label--fb2">
                  <span class="checkout__desc">CVC</span>
                  <input type="number" class="input-reset input checkout__input" placeholder="000" aria-label="Code on the back of the card">
                </label>
              </div>
            </div>
            <div class="accordion-item form-payment checkout__payment">
              <div class="accordion-btn form-payment__btn">
                <label class="label form-payment__label">
                  <input type="radio" name="payment" class="input-reset btn-radio">
                  <span class="checkout__desc checkout__desc--bold">Cash on delivery</span>
                </label>
              </div>
              <div class="accordion-content form-payment__content">
                <label class="checkout__label checkout__label--p">
                  <span class="checkout__desc">Card number</span>
                  <input type="number" class="input-reset input checkout__input" placeholder="0000 0000 0000 0000" aria-label="Card entry field">
                </label>
                <label class="checkout__label checkout__label--fb1">
                  <span class="checkout__desc">Expiry date</span>
                  <input type="date" class="input-reset input checkout__input checkout__input--date" aria-label="Card registration date">
                </label>
                <label class="checkout__label checkout__label--fb2">
                  <span class="checkout__desc">CVC</span>
                  <input type="number" class="input-reset input checkout__input" placeholder="000" aria-label="Code on the back of the card">
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="fieldset-reset checkout__wrapper">
          <legend class="checkout__accent checkout__wrapper-accent">5. Additional Information (Optional)</legend>
          <label class="label checkout__label">
            <span class="checkout__desc">Order notes</span>
            <textarea name="notes" class="input-reset input checkout__input checkout__input--textarea textarea" placeholder="Notes about your order, e.g. special noted for delivery." aria-label="Order notes"></textarea>
          </label>
        </fieldset>
      </form>
    </div>
    <aside class="aside checkout__aside">
      <form action="/" method="post" class="form checkout__aside-form">
        <label class="label checkout__label">
          <span class="checkout__desc">Apply a promo code</span>
          <input type="text" class="input-reset input checkout__input checkout__aside-form-input" aria-label="promo code" placeholder="Enter promo code">
        </label>
        <button type="submit" class="btn-reset btn-primary checkout__aside-form-btn">Apply</button>
      </form>
      <div class="checkout__inner checkout__total">
        <div class="checkout__total-top">
          <h3 class="title checkout__accent">Order totals</h3>
        </div>
        <div class="checkout__total-middle">
          <div class="checkout__total-rate">
            <span class="checkout__desc checkout__desc--bold">Subtotal:</span>
            <span class="checkout__desc checkout__desc--bold">$198.65</span>
          </div>
          <div class="checkout__total-rate">
            <span class="checkout__desc">Shipping costs:</span>
            <span class="checkout__desc">$25.00</span>
          </div>
          <div class="checkout__total-rate">
            <span class="checkout__desc">Discount:</span>
            <span class="checkout__desc">-</span>
          </div>
          <div class="checkout__total-rate">
            <span class="checkout__desc">Estimated sales tax:</span>
            <span class="checkout__desc">$6.35</span>
          </div>
        </div>
        <div class="checkout__total-bottom">
          <span class="checkout__accent checkout__accent--medium">Order total:</span>
          <span class="checkout__accent checkout__accent--medium">$230.00</span>
        </div>
      </div>
      <button type="submit" class="btn-reset btn-primary" form="checkout">Complete order</button>
    </aside>
  </div>
</section>
