<section class="comments comments--p">
  <div class="container comments__container">
    <h2 class="title h2 centered comments__title">4 comments</h2>
    <ul class="list-reset comments__list">
      <li class="comments__item">
        <div class="comments__details">
          <span class="comments__accent">Devon Lane</span>
          <time datetime="2020-07-15" class="comments__desc">July 15, 2020</time>
          <ul class="list-reset rating comments__rating">
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
          </ul>
        </div>
        <div class="comments__content comments__content--more">
          <p class="text comments__text">
            Vel velit pulvinar montes, sit rhoncus odio molestie. Venenatis nunc fames ut proin adipiscing sit. Etiam
            egestas elit varius a, vestibulum bibendum nibh sociis in. Ut facilisis sit eget cum fringilla. Dapibus
            mauris viverra est sed risus quam lacinia aliquam.
          </p>
          <div class="comments__interactive">
            <button type="button" class="btn-reset btn-reply comments__desc">
              <svg class="svg btn-reply__icon">
                <use xlink:href="img/sprite.svg#share-arrow"></use>
              </svg>
              Reply
            </button>
            <div class="comments__btns">
              <input type="checkbox" name="like" value="2" class="input-reset btn-like comments__desc"
                aria-label="like button. Current count: 2">
              <input type="checkbox" name="dislike" value="0" class="input-reset btn-dislike comments__desc"
                aria-label="dislike button. Current count: 0">
            </div>
          </div>
        </div>
      </li>
      <li class="comments__item">
        <div class="comments__details">
          <span class="comments__accent">Annette Black</span>
          <time datetime="2020-08-24" class="comments__desc">1 day ago</time>
          <ul class="list-reset rating comments__rating">
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star"></li>
          </ul>
        </div>
        <div class="comments__content comments__content--more">
          <p class="text comments__text">
            Amet ut augue dignissim lorem. Diam volutpat porttitor vel, pulvinar semper. Faucibus vel accumsan mi diam
            magna. Nunc diam lorem semper rhoncus in ut. Quis risus viverra bibendum eu.
          </p>
          <div class="comments__interactive">
            <button type="button" class="btn-reset btn-reply comments__desc">
              <svg class="svg btn-reply__icon">
                <use xlink:href="img/sprite.svg#share-arrow"></use>
              </svg>
              Reply
            </button>
            <div class="comments__btns">
              <input type="checkbox" name="like" value="2" class="input-reset btn-like comments__desc"
                aria-label="like button. Current count: 2">
              <input type="checkbox" name="dislike" value="1" class="input-reset btn-dislike comments__desc"
                aria-label="dislike button. Current count: 1">
            </div>
          </div>
        </div>
      </li>
      <li class="comments__item">
        <div class="comments__details">
          <span class="comments__accent">Albert Flores</span>
          <time datetime="2020-07-07" class="comments__desc">July 7, 2020</time>
          <ul class="list-reset rating comments__rating">
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star"></li>
            <li class="rating__star"></li>
            <li class="rating__star"></li>
            <li class="rating__star"></li>
          </ul>
        </div>
        <div class="comments__content comments__content--more">
          <p class="text comments__text">
            Et, enim pellentesque ut malesuada interdum. Id odio proin molestie ac tellus ornare lectus amet semper.
            Bibendum non nulla leo pharetra, mi ultrices proin rhoncus diam.
          </p>
          <div class="comments__interactive">
            <button type="button" class="btn-reset btn-reply comments__desc">
              <svg class="svg btn-reply__icon">
                <use xlink:href="img/sprite.svg#share-arrow"></use>
              </svg>
              Reply
            </button>
            <div class="comments__btns">
              <input type="checkbox" name="like" value="0" class="input-reset btn-like comments__desc"
                aria-label="like button. Current count: 0">
              <input type="checkbox" name="dislike" value="3" class="input-reset btn-dislike comments__desc"
                aria-label="dislike button. Current count: 3">
            </div>
          </div>
        </div>
      </li>
      <li class="comments__item">
        <div class="comments__details">
          <span class="comments__accent">Marvin McKinney</span>
          <time datetime="2020-06-28" class="comments__desc">June 28, 2020</time>
          <ul class="list-reset rating comments__rating">
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
          </ul>
        </div>
        <div class="comments__content comments__content--more">
          <p class="text comments__text">
            Eu duis ac, faucibus et egestas morbi elementum urna in. Feugiat natoque vestibulum, augue nisi. Vulputate
            vitae felis quis mauris morbi massa ut. Dolor in amet volutpat facilisi luctus duis mauris.
          </p>
          <div class="comments__interactive">
            <div class="comments__btns">
              <input type="checkbox" name="like" value="2" class="input-reset btn-like comments__desc"
                aria-label="like button. Current count: 2">
              <input type="checkbox" name="dislike" value="0" class="input-reset btn-dislike comments__desc"
                aria-label="dislike button. Current count: 0">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
