<section class="contacts">
  <div class="container contacts__container">
    <h1 class="visually-hidden">contacts</h1>
    <div class="tabs contacts__tabs" data-tabs="contacts">
      <ul class="list-reset tabs__nav contacts__nav">
        <li class="tabs__nav-item contacts__nav-item"><button class="btn-reset tabs__nav-btn contacts__nav-btn"
            type="button">Contact Us</button></li>
        <li class="tabs__nav-item contacts__nav-item"><button class="btn-reset tabs__nav-btn contacts__nav-btn"
            type="button">Outlet Stores</button></li>
        <li class="tabs__nav-item contacts__nav-item"><button class="btn-reset tabs__nav-btn contacts__nav-btn"
            type="button">FAQ</button></li>
      </ul>
      <div class="tabs__content contacts__content">
        <div class="tabs__panel contacts__panel">
          <span class="contacts__accent contacts__panel-accent">If you have any questions, concerns or comments, we would love to hear from
            you! Submit your query using any of the methods below:
          </span>
          <ul class="list-reset contacts__list contacts__panel-list">
            <li class="contacts__item"><a href="tel:+4055550128"
                class="contacts__desc contacts__desc--icon contacts__desc--phone">(405) 555-0128</a></li>
            <li class="contacts__item"><a href="mailto:hello@createx.com"
                class="contacts__desc contacts__desc--icon contacts__desc--email">Send us an email</a></li>
            <li class="contacts__item"><a href="#" target="_blank" rel="noopener noreferrer"
                class="contacts__desc contacts__desc--icon contacts__desc--message">Connect on Messenger</a></li>
            <li class="contacts__item"><a href="#" target="_blank" rel="noopener noreferrer"
                class="contacts__desc contacts__desc--icon contacts__desc--twitter">Tweet us</a></li>
          </ul>
          <form action="/" method="post" class="form contacts__form">
            <span class="contacts__accent contacts__panel-accent">Or get in touch with us by completing the below
              form:</span>
            <div class="contacts__labels">
              <label class="label contacts__label">
                <span class="contacts__desc">Full Name*</span>
                <input type="text" class="input-reset input input--empty contacts__input" placeholder="Your full name"
                  aria-label="Field for entering a name">
              </label>
              <label class="label contacts__label">
                <span class="contacts__desc">Email*</span>
                <input type="text" class="input-reset input input--email contacts__input" placeholder="Your working email"
                  aria-label="Mail input field">
              </label>
              <label class="label contacts__label">
                <span class="contacts__desc">Phone</span>
                <input type="tel" class="input-reset input input--tel contacts__input" placeholder="Your phone number"
                  aria-label="Phone input field">
              </label>
              <label class="label contacts__label">
                <span class="contacts__desc">Subject</span>
                <input type="text" class="input-reset input input--subject contacts__input" placeholder="Title your message"
                  aria-label="Header field for your message">
              </label>
              <label class="label contacts__label contacts__label--full-width">
                <span class="contacts__desc">Message*</span>
                <textarea class="input-reset input contacts__textarea" placeholder="Write your message here"
                  aria-label="Message field"></textarea>
              </label>
            </div>
            <button type="submit" class="btn-reset btn-primary contacts__btn">Send message</button>
          </form>
        </div>
        <div class="tabs__panel contacts__panel">
          <ul class="list-reset contacts__list contacts__list--grid">
            <li class="contacts__item">
              <article class="address-card">
                <picture class="picture address-card__picture">
                  <source srcset="img/address-card-image-1.avif" type="image/avif">
                  <source srcset="img/address-card-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/address-card-image-1.jpg" class="image address-card__image" width="390" height="200" alt=""
                    aria-hidden="true">
                </picture>
                <div class="address-card__content">
                  <h2 class="title address-card__title">New York, USA</h2>
                  <address class="address">
                    <ul class="list-reset address-card__list">
                      <li class="address-card__item">
                        <a href="tel:+4055550128" class="address-card__desc address-card__desc--icon address-card__desc--phone" aria-label="Call us">(405) 555-0128</a>
                      </li>
                      <li class="address-card__item">
                        <a href="mailto:hello@createx.com" class="address-card__desc address-card__desc--icon address-card__desc--email" aria-label="Email us">hello@createx.com</a>
                      </li>
                      <li class="address-card__item">
                        <span class="address-card__desc address-card__desc--icon address-card__desc--travel" tabindex="0">Daily from 9 am to 9 pm</span>
                      </li>
                      <li class="address-card__item">
                        <a href="#" target="_blank" rel="noopener noreferrer"
                          class="address-card__desc address-card__desc--uppercase address-card__desc--icon address-card__desc--address">20 W 29th Street New York, NY 10001</a>
                      </li>
                    </ul>
                  </address>
                </div>
              </article>
            </li>
            <li class="contacts__item">
              <article class="address-card">
                <picture class="picture address-card__picture">
                  <source srcset="img/address-card-image-2.avif" type="image/avif">
                  <source srcset="img/address-card-image-2.webp" type="image/webp">
                  <img loading="lazy" src="img/address-card-image-2.jpg" class="image address-card__image" width="390" height="200" alt=""
                    aria-hidden="true">
                </picture>
                <div class="address-card__content">
                  <h2 class="title address-card__title">Delaware, USA</h2>
                  <address class="address">
                    <ul class="list-reset address-card__list">
                      <li class="address-card__item">
                        <a href="tel:+" class="address-card__desc address-card__desc--icon address-card__desc--phone" aria-label="Call us">(808) 555-0111</a>
                      </li>
                      <li class="address-card__item">
                        <a href="mailto:" class="address-card__desc address-card__desc--icon address-card__desc--email" aria-label="Email us">delaware@createx.com</a>
                      </li>
                      <li class="address-card__item">
                        <span class="address-card__desc address-card__desc--icon address-card__desc--travel" tabindex="0">Daily from 10 am to 9 pm</span>
                      </li>
                      <li class="address-card__item">
                        <a href="#" target="_blank" rel="noopener noreferrer"
                          class="address-card__desc address-card__desc--uppercase address-card__desc--icon address-card__desc--address">6391 Elgin St. Celina, Delaware
                          10299</a>
                      </li>
                    </ul>
                  </address>
                </div>
              </article>
            </li>
            <li class="contacts__item">
              <article class="address-card">
                <picture class="picture address-card__picture">
                  <source srcset="img/address-card-image-3.avif" type="image/avif">
                  <source srcset="img/address-card-image-3.webp" type="image/webp">
                  <img loading="lazy" src="img/address-card-image-3.jpg" class="image address-card__image" width="390" height="200" alt=""
                    aria-hidden="true">
                </picture>
                <div class="address-card__content">
                  <h2 class="title address-card__title">New Jersey, USA</h2>
                  <address class="address">
                    <ul class="list-reset address-card__list">
                      <li class="address-card__item">
                        <a href="tel:+" class="address-card__desc address-card__desc--icon address-card__desc--phone" aria-label="Call us">(702) 555-0122</a>
                      </li>
                      <li class="address-card__item">
                        <a href="mailto:" class="address-card__desc address-card__desc--icon address-card__desc--email" aria-label="Email us">newjersey@createx.com</a>
                      </li>
                      <li class="address-card__item">
                        <span class="address-card__desc address-card__desc--icon address-card__desc--travel" tabindex="0">Daily from 9 am to 8 pm</span>
                      </li>
                      <li class="address-card__item">
                        <a href="#" target="_blank" rel="noopener noreferrer"
                          class="address-card__desc address-card__desc--uppercase address-card__desc--icon address-card__desc--address">2464 Royal Ln. Mesa, New Jersey
                          45463</a>
                      </li>
                    </ul>
                  </address>
                </div>
              </article>
            </li>
            <li class="contacts__item">
              <article class="address-card">
                <picture class="picture address-card__picture">
                  <source srcset="img/address-card-image-4.avif" type="image/avif">
                  <source srcset="img/address-card-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/address-card-image-4.jpg" class="image address-card__image" width="390" height="200" alt=""
                    aria-hidden="true">
                </picture>
                <div class="address-card__content">
                  <h2 class="title address-card__title">Maine, USA</h2>
                  <address class="address">
                    <ul class="list-reset address-card__list">
                      <li class="address-card__item">
                        <a href="tel:+" class="address-card__desc address-card__desc--icon address-card__desc--phone" aria-label="Call us">(219) 555-0114</a>
                      </li>
                      <li class="address-card__item">
                        <a href="mailto:" class="address-card__desc address-card__desc--icon address-card__desc--email" aria-label="Email us">maine@createx.com</a>
                      </li>
                      <li class="address-card__item">
                        <span class="address-card__desc address-card__desc--icon address-card__desc--travel" tabindex="0">Daily from 9 am to 9 pm</span>
                      </li>
                      <li class="address-card__item">
                        <a href="#" target="_blank" rel="noopener noreferrer"
                          class="address-card__desc address-card__desc--uppercase address-card__desc--icon address-card__desc--address">8502 Preston Rd. Inglewood, Maine
                          98380</a>
                      </li>
                    </ul>
                  </address>
                </div>
              </article>
            </li>
          </ul>
        </div>
        <div class="tabs__panel contacts__panel">
          <div class="accordion-list accordion-list--faq contacts__accordion-list">
            <div class="accordion-item contacts__accordion-item">
              <button type="button" class="btn-reset accordion-btn contacts__accent contacts__accordion-btn">
                Do I need to register to place an order?
                <span class="arrow-icon contacts__accordion-icon"></span>
              </button>
              <div class="accordion-content contacts__accordion-content">
                <span class="contacts__desc contacts__desc--gray contacts__accordion-desc">
                  Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus.
                  Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                </span>
              </div>
            </div>
            <div class="accordion-item contacts__accordion-item">
              <button type="button" class="btn-reset accordion-btn contacts__accent contacts__accordion-btn">
                What is the estimated delivery time?
                <span class="arrow-icon contacts__accordion-icon"></span>
              </button>
              <div class="accordion-content contacts__accordion-content">
                <span class="contacts__desc contacts__desc--gray contacts__accordion-desc">
                  Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus.
                  Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                </span>
              </div>
            </div>
            <div class="accordion-item contacts__accordion-item">
              <button type="button" class="btn-reset accordion-btn contacts__accent contacts__accordion-btn">
                How can I pay for my order?
                <span class="arrow-icon contacts__accordion-icon"></span>
              </button>
              <div class="accordion-content contacts__accordion-content">
                <span class="contacts__desc contacts__desc--gray contacts__accordion-desc">
                  Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus.
                  Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                </span>
              </div>
            </div>
            <div class="accordion-item contacts__accordion-item">
              <button type="button" class="btn-reset accordion-btn contacts__accent contacts__accordion-btn">
                Can I get a refund if the price has changed since I ordered it?
                <span class="arrow-icon contacts__accordion-icon"></span>
              </button>
              <div class="accordion-content contacts__accordion-content">
                <span class="contacts__desc contacts__desc--gray contacts__accordion-desc">
                  Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus.
                  Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                </span>
              </div>
            </div>
            <div class="accordion-item contacts__accordion-item">
              <button type="button" class="btn-reset accordion-btn contacts__accent contacts__accordion-btn">
                Do you refund delivery charges if I return something?
                <span class="arrow-icon contacts__accordion-icon"></span>
              </button>
              <div class="accordion-content contacts__accordion-content">
                <span class="contacts__desc contacts__desc--gray contacts__accordion-desc">
                  Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus.
                  Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                </span>
              </div>
            </div>
            <div class="accordion-item contacts__accordion-item">
              <button type="button" class="btn-reset accordion-btn contacts__accent contacts__accordion-btn">
                What documents will be provided with the order?
                <span class="arrow-icon contacts__accordion-icon"></span>
              </button>
              <div class="accordion-content contacts__accordion-content">
                <span class="contacts__desc contacts__desc--gray contacts__accordion-desc">
                  Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus.
                  Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                </span>
              </div>
            </div>
            <div class="accordion-item contacts__accordion-item">
              <button type="button" class="btn-reset accordion-btn contacts__accent contacts__accordion-btn">
                Can I return the order to the courier if anything does not suit me?
                <span class="arrow-icon contacts__accordion-icon"></span>
              </button>
              <div class="accordion-content contacts__accordion-content">
                <span class="contacts__desc contacts__desc--gray contacts__accordion-desc">
                  Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus.
                  Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                </span>
              </div>
            </div>
            <div class="accordion-item contacts__accordion-item">
              <button type="button" class="btn-reset accordion-btn contacts__accent contacts__accordion-btn">
                What should I do if my order hasn't been delivered yet?
                <span class="arrow-icon contacts__accordion-icon"></span>
              </button>
              <div class="accordion-content contacts__accordion-content">
                <span class="contacts__desc contacts__desc--gray contacts__accordion-desc">
                  Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus.
                  Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                </span>
              </div>
            </div>
            <div class="accordion-item contacts__accordion-item">
              <button type="button" class="btn-reset accordion-btn contacts__accent contacts__accordion-btn">
                What is your Returns Policy?
                <span class="arrow-icon contacts__accordion-icon"></span>
              </button>
              <div class="accordion-content contacts__accordion-content">
                <span class="contacts__desc contacts__desc--gray contacts__accordion-desc">
                  Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus.
                  Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
