<section class="follow">
  <div class="container follow__container">
    <div class="follow__left anim-item anim-item--norepeat">
      <h2 class="title h2 follow__title">Follow us on Instagram</h2>
      <span class="h2 follow__desc">@createx_store</span>
      <a href="#" target="_blank" rel="noopener noreferrer" class="btn-reset btn-border">
        <svg class="svg btn-border__icon btn-border__icon--in">
          <use xlink:href="img/sprite.svg#instagram"></use>
        </svg>
        Follow instagram
      </a>
    </div>
    <div class="follow__right anim-item anim-item--norepeat">
      <ul class="list-reset follow__photos-list">
        <li class="follow__photos-item">
          <a data-fslightbox="gal" href="img/follow-image-1.jpg" class="follow__photos-link" aria-label="Open in full screen">
            <picture class="picture follow__photos-picture">
              <source srcset="img/follow-image-1.avif" type="image/avif">
              <source srcset="img/follow-image-1.webp" type="image/webp">
              <img loading="lazy" src="img/follow-image-1.jpg" class="image follow__photos-image" width="260" height="260" alt="" aria-hidden="true">
            </picture>
          </a>
        </li>
        <li class="follow__photos-item">
          <a data-fslightbox="gal" href="img/follow-image-2.jpg" class="follow__photos-link" aria-label="Open in full screen">
            <picture class="picture follow__photos-picture">
              <source srcset="img/follow-image-2.avif" type="image/avif">
              <source srcset="img/follow-image-2.webp" type="image/webp">
              <img loading="lazy" src="img/follow-image-2.jpg" class="image follow__photos-image" width="260" height="260" alt="" aria-hidden="true">
            </picture>
          </a>
        </li>
        <li class="follow__photos-item">
          <a data-fslightbox="gal" href="img/follow-image-3.jpg" class="follow__photos-link" aria-label="Open in full screen">
            <picture class="picture follow__photos-picture">
              <source srcset="img/follow-image-3.avif" type="image/avif">
              <source srcset="img/follow-image-3.webp" type="image/webp">
              <img loading="lazy" src="img/follow-image-3.jpg" class="image follow__photos-image" width="260" height="260" alt="" aria-hidden="true">
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
