<footer class="footer">
  <div class="footer__top">
    <div class="container footer__container anim-item anim-item--norepeat">
      <nav class="nav footer__nav">
        <ul class="list-reset nav__list footer__list footer__list--fit-content">
          <li class="nav__item footer__item footer__item--accent">
            <span class="footer__accent">HELP</span>
          </li>
          <li class="nav__item footer__item">
            <a href="/track.html" class="footer__link">Delivery & returns</a>
          </li>
          <li class="nav__item footer__item">
            <a href="/contacts.html" class="footer__link">FAQ</a>
          </li>
          <li class="nav__item footer__item">
            <a href="/track.html" class="footer__link">Track order</a>
          </li>
          <li class="nav__item footer__item">
            <a href="/contacts.html" class="footer__link">Contacts</a>
          </li>
          <li class="nav__item footer__item">
            <a href="/blog.html" class="footer__link">Blog</a>
          </li>
        </ul>
        <ul class="list-reset nav__list footer__list">
          <li class="nav__item footer__item footer__item--accent">
            <span class="footer__accent">Shop</span>
          </li>
          <li class="nav__item footer__item">
            <button type="button" class="btn-reset footer__link" data-scroll="arrivals">
              New arrivals
            </button>
          </li>
          <li class="nav__item footer__item">
            <button type="button" class="btn-reset footer__link" data-scroll="trending">
              Trending now
            </button>
          </li>
          <li class="nav__item footer__item">
            <button type="button" class="btn-reset footer__link" data-scroll="sales">Sales</button>
          </li>
          <li class="nav__item footer__item">
            <button type="button" class="btn-reset footer__link" data-scroll="brands">Brands</button>
          </li>
        </ul>
        <ul class="list-reset nav__list footer__list footer__list--fit-content">
          <li class="nav__item footer__item footer__item--accent">
            <span class="footer__accent">Get in touch</span>
          </li>
          <li class="nav__item footer__item">
            <span class="footer__item-desc">Call:</span>
            <a href="tel:+4055550128" class="footer__link" aria-label="Call">(405) 555-0128</a>
          </li>
          <li class="nav__item footer__item">
            <span class="footer__item-desc">Email:</span>
            <a href="mailto:hello@createx.com" class="footer__link" aria-label="Write to mail">hello@createx.com</a>
          </li>
          <li class="nav__item footer__item footer__item--social">
            <ul class="list-reset social footer__social" title="Our social networks">
              <li class="social__item">
                <a href="#" target="_blank" rel="noopener noreferrer" class="social__link footer__social-link"
                  aria-label="Our facebook profile">
                  <svg class="svg social__icon footer__social-icon social__icon--in">
                    <use xlink:href="img/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" rel="noopener noreferrer" class="social__link footer__social-link"
                  aria-label="Our Instagram profile">
                  <svg class="svg social__icon footer__social-icon social__icon--in">
                    <use xlink:href="img/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" rel="noopener noreferrer" class="social__link footer__social-link"
                  aria-label="Our twitter profile">
                  <svg class="svg social__icon footer__social-icon social__icon--tw">
                    <use xlink:href="img/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" rel="noopener noreferrer" class="social__link footer__social-link"
                  aria-label="Our youtube channel">
                  <svg class="svg social__icon footer__social-icon social__icon--yt">
                    <use xlink:href="img/sprite.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" rel="noopener noreferrer" class="social__link footer__social-link"
                  aria-label="Our pinterest profile">
                  <svg class="svg social__icon footer__social-icon social__icon--pt">
                    <use xlink:href="img/sprite.svg#pinterest"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="footer__wrapper">
        <span class="footer__accent">Download our app</span>
        <div class="footer__btns">
          <a href="#" target="_blank" rel="noopener noreferrer" class="btn-app btn-app--app-store"
            aria-label="Download app in app store"></a>
          <a href="#" target="_blank" rel="noopener noreferrer" class="btn-app btn-app--google-play"
            aria-label="Download app in google play"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__container">
      <small class="copy-text footer__copy-text anim-item anim-item--norepeat">© All rights reserved. Made with <span>by Createx Studio</span></small>
      <button type="button" class="btn-reset footer__link footer__btn anim-item anim-item--norepeat" data-btn-up>Go to top</button>
    </div>
  </div>
</footer>
