<section class="hero swiper swiper--hero">
  <div class="swiper-wrapper hero__slider-wrapper">
    <div class="container-large hero__nav">
      <button type="button" class="btn-reset swiper-button-prev control control--prev hero__control hero__control--prev anim-item anim-item--norepeat" aria-label="Previous slide">
        <svg class="svg control__icon">
          <use xlink:href="img/sprite.svg#left"></use>
        </svg>
      </button>
      <button type="button" class="btn-reset swiper-button-next control control--next hero__control hero__control--next anim-item anim-item--norepeat" aria-label="Next slide">
        <svg class="svg control__icon">
          <use xlink:href="img/sprite.svg#right"></use>
        </svg>
      </button>
    </div>
    <div class="swiper-slide hero__slide">
      <picture class="picture hero__picture">
        <source srcset="img/hero-bg-image.avif" type="image/avif">
        <source srcset="img/hero-bg-image.webp" type="image/webp">
        <img loading="lazy" src="img/hero-bg-image.jpg" class="image hero__slide-image anim-item anim-item--norepeat" width="1920" height="800" alt=""
          aria-hidden="true">
      </picture>
      <div class="container hero__container">
        <div class="hero__wrapper anim-item anim-item--norepeat">
          <h1 class="visually-hidden">Createx online store</h1>
          <span class="hero__desc" data-swiper-parallax-y="-150">New collection</span>
          <span class="hero__accent" data-swiper-parallax-y="-100">Menswear 2020</span>
          <div class="hero__btns" data-swiper-parallax-y="-80" data-swiper-parallax-duration="500">
            <a href="#" class="btn-border">Shop sale</a>
            <a href="#" class="btn-primary">Shop the menswear</a>
          </div>
        </div>
        <div class="swiper-pagination hero__pagination anim-item anim-item--norepeat"></div>
      </div>
    </div>
    <div class="swiper-slide hero__slide">
      <picture class="picture hero__picture">
        <source srcset="img/hero-bg-image.avif" type="image/avif">
        <source srcset="img/hero-bg-image.webp" type="image/webp">
        <img loading="lazy" src="img/hero-bg-image.jpg" class="image hero__slide-image" width="1920" height="800" alt=""
          aria-hidden="true">
      </picture>
      <div class="container hero__container">
        <div class="hero__wrapper">
          <span class="hero__desc" data-swiper-parallax-y="-150">New collection</span>
          <span class="hero__accent" data-swiper-parallax-y="-100">Menswear 2021</span>
          <div class="hero__btns" data-swiper-parallax-y="-80" data-swiper-parallax-duration="500">
            <a href="#" class="btn-border">Shop sale</a>
            <a href="#" class="btn-primary">Shop the menswear</a>
          </div>
        </div>
        <div class="swiper-pagination hero__pagination"></div>
      </div>
    </div>
    <div class="swiper-slide hero__slide">
      <picture class="picture hero__picture">
        <source srcset="img/hero-bg-image.avif" type="image/avif">
        <source srcset="img/hero-bg-image.webp" type="image/webp">
        <img loading="lazy" src="img/hero-bg-image.jpg" class="image hero__slide-image" width="1920" height="800" alt=""
          aria-hidden="true">
      </picture>
      <div class="container hero__container">
        <div class="hero__wrapper">
          <span class="hero__desc" data-swiper-parallax-y="-150">New collection</span>
          <span class="hero__accent" data-swiper-parallax-y="-100">Menswear 2022</span>
          <div class="hero__btns" data-swiper-parallax-y="-80" data-swiper-parallax-duration="500">
            <a href="#" class="btn-border">Shop sale</a>
            <a href="#" class="btn-primary">Shop the menswear</a>
          </div>
        </div>
        <div class="swiper-pagination hero__pagination"></div>
      </div>
    </div>
    <div class="swiper-slide hero__slide">
      <picture class="picture hero__picture">
        <source srcset="img/hero-bg-image.avif" type="image/avif">
        <source srcset="img/hero-bg-image.webp" type="image/webp">
        <img loading="lazy" src="img/hero-bg-image.jpg" class="image hero__slide-image" width="1920" height="800" alt=""
          aria-hidden="true">
      </picture>
      <div class="container hero__container">
        <div class="hero__wrapper">
          <span class="hero__desc" data-swiper-parallax-y="-150">New collection</span>
          <span class="hero__accent" data-swiper-parallax-y="-100">Menswear 2023</span>
          <div class="hero__btns" data-swiper-parallax-y="-80" data-swiper-parallax-duration="500">
            <a href="#" class="btn-border">Shop sale</a>
            <a href="#" class="btn-primary">Shop the menswear</a>
          </div>
        </div>
        <div class="swiper-pagination hero__pagination"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="list-reset hero__list" data-rellax data-rellax-speed="3">
      <li class="hero__item anim-item anim-item--norepeat">
        <a href="#" class="hero__link" aria-label="go to history Women’s">
          <picture class="picture hero__list-picture">
            <source srcset="img/hero-image-1.avif" type="image/avif">
            <source srcset="img/hero-image-1.webp" type="image/webp">
            <img loading="lazy" src="img/hero-image-1.jpg" class="image" width="390" height="390" alt="Women’s">
          </picture>
          <span class="hero__list-desc">Women’s</span>
        </a>
      </li>
      <li class="hero__item anim-item anim-item--norepeat">
        <a href="#" class="hero__link" aria-label="go to history Men’s">
          <picture class="picture hero__list-picture">
            <source srcset="img/hero-image-2.avif" type="image/avif">
            <source srcset="img/hero-image-2.webp" type="image/webp">
            <img loading="lazy" src="img/hero-image-2.jpg" class="image" width="390" height="390" alt="Men’s">
          </picture>
          <span class="hero__list-desc">Men’s</span>
        </a>
      </li>
      <li class="hero__item anim-item anim-item--norepeat">
        <a href="#" class="hero__link" aria-label="go to history Kids’">
          <picture class="picture hero__list-picture">
            <source srcset="img/hero-image-3.avif" type="image/avif">
            <source srcset="img/hero-image-3.webp" type="image/webp">
            <img loading="lazy" src="img/hero-image-3.jpg" class="image" width="390" height="390" alt="Kids’">
          </picture>
          <span class="hero__list-desc">Kids’</span>
        </a>
      </li>
    </ul>
  </div>
</section>
