<nav class="megamenu fixed-block">
  <button type="button" class="btn-reset megamenu__btn" data-back>back</button>
  <div class="container megamenu__container">
    <div class="megamenu__list-group">
      <ul class="list-reset megamenu__list">
        <li class="megamenu__item"><a href="#" class="megamenu__link">New collection</a></li>
        <li class="megamenu__item"><a href="#" class="megamenu__link">Best Sellers</a></li>
        <li class="megamenu__item"><a href="#" class="megamenu__link">Plus Size</a></li>
        <li class="megamenu__item"><a href="#" class="megamenu__link megamenu__link--danger">Sale up to 70%</a></li>
      </ul>
      <ul class="list-reset megamenu__list" data-category>
        <li class="megamenu__item"><span class="megamenu__accent">CLOTHES</span></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Coats</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Jackets</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Suits</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Dresses </a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Cardigans & sweaters</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Sweatshirts & hoodies</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">T-shirts & tops</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Pants</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Jeans</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Shorts</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Skirts</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Lingerie & nightwear</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Sportswear</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Swimwear</a></li>
      </ul>
      <ul class="list-reset megamenu__list" data-category>
        <li class="megamenu__item"><span class="megamenu__accent">SHOES</span></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Boots</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Flat shoes</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Heels</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Sandals</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Mules</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Sliders</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Slippers</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Sneakers</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Leather</a></li>
      </ul>
      <ul class="list-reset megamenu__list" data-category>
        <li class="megamenu__item"><span class="megamenu__accent">ACCESSORIES</span></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Bags & bagpacks</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Hats & scarves</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Hair accessories</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Belts</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Jewellery</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Watches</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Sunglasses</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Purses</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Gloves</a></li>
        <li class="megamenu__item"><a href="/catalog.html" class="megamenu__link">Socks & tights</a></li>
      </ul>
    </div>
    <div class="banner megamenu__banner">
      <a href="#" class="banner__link">
        <picture class="picture banner__picture">
          <source srcset="img/@banner-image.avif" type="image/avif">
          <source srcset="img/@banner-image.webp" type="image/webp">
          <img loading="lazy" src="img/@banner-image.jpg" class="image banner__image" width="285" height="286" alt="Back to school. Sale up to 50%">
        </picture>
      </a>
      <div class="banner__content">
        <a href="#" class="banner__accent">Back to school. Sale up to 50%</a>
        <a href="#" class="btn-border banner__btn">
          See offers
          <svg class="svg btn-border__icon">
            <use xlink:href="img/sprite.svg#right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>
