<section class="mobile-app">
  <div class="container mobile-app__container">
    <picture class="picture mobile-app__picture anim-item anim-item--norepeat">
      <source srcset="img/mobile-app-image.avif" type="image/avif">
      <source srcset="img/mobile-app-image.webp" type="image/webp">
      <img loading="lazy" src="img/mobile-app-image.png" class="image" width="490" height="330" alt="" aria-hidden="true">
    </picture>
    <div class="mobile-app__content">
      <h2 class="title h2 mobile-app__title anim-item anim-item--norepeat">Enjoy mobile shopping with our Createx Store App!</h2>
      <div class="mobile-app__btns anim-item anim-item--norepeat">
        <a href="#" target="_blank" rel="noopener noreferrer" class="btn-app btn-app--app-store" aria-label="Download app in app store"></a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="btn-app btn-app--google-play" aria-label="Download app in google play"></a>
      </div>
    </div>
  </div>
</section>
