<section class="new-comment">
  <div class="container new-comment__container">
    <h2 class="title h2 new-comment__title">Leave your comment</h2>
    <form action="/" method="post" class="form new-comment__form">
      <div class="new-comment__labels">
        <label class="label new-comment__label">
          <span class="new-comment__desc">Name*</span>
          <input type="text" class="input-reset input new-comment__input" placeholder="Your name"
            aria-label="Field for entering a name">
        </label>
        <label class="label new-comment__label">
          <span class="new-comment__desc">Email*</span>
          <input type="text" class="input-reset input new-comment__input" placeholder="Your working email"
            aria-label="Mail input field">
        </label>
        <label class="label new-comment__label new-comment__label--full-width">
          <span class="new-comment__desc">Your comment* </span>
          <textarea class="input-reset input new-comment__textarea" placeholder="Type comment here"
            aria-label="Comment field"></textarea>
        </label>
      </div>
      <button type="submit" class="btn-reset btn-primary new-comment__btn">Post comment</button>
    </form>
  </div>
</section>
