<div class="orders account__content" data-barba="container" data-barba-namespace="orders">
  <div class="orders__head">
    <h1 class="title h2 account__title">My orders</h1>
    <label class="label orders__label">
      <span class="orders__desc">Sort orders</span>
      <select name="sort" class="select orders__select">
        <option value="All" selected>All</option>
        <option value="In progress">In progress</option>
        <option value="Delivered">Delivered</option>
        <option value="Canceled">Canceled</option>
      </select>
    </label>
  </div>
  <div class="accordion-list accordion-list--orders orders__list">
    <div class="accordion-item orders__item">
      <button type="button" class="accordion-btn orders__btn">
        <span class="orders__btn-desc"># 34BV66580K92</span>
        <time class="orders__btn-meta-desc" datetime="2020-09-09">September 9, 2020</time>
        <span class="status orders__status status--progress">In progress</span>
        <span class="price orders__btn-price">$750.00</span>
        <span class="arrow-icon orders__btn-icon"></span>
      </button>
      <div class="accordion-content orders__content">
        <div class="orders__content-inner review">
          <ul class="list-reset review__list">
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-13.avif" type="image/avif">
                  <source srcset="img/product-image-13.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-13.jpg" class="image" width="80" height="80"
                    alt="Basic hooded sweatshirt in pink">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Basic hooded sweatshirt in pink</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">pink</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-1.avif" type="image/avif">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="80" height="80"
                    alt="Black and white sport cap">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Black and white sport cap</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-4.avif" type="image/avif">
                  <source srcset="img/product-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-4.jpg" class="image" width="80" height="80"
                    alt="Mid-rise slim cropped fit jeans">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Mid-rise slim cropped fit jeans</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">M</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-14.avif" type="image/avif">
                  <source srcset="img/product-image-14.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-14.jpg" class="image" width="80" height="80"
                    alt="Men fashion gray shoes">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Men fashion gray shoes</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">gray</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">44</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
          </ul>
          <ul class="list-reset review__total-list">
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Subtotal:</span>
              <span class="price review__product-price">$198.65</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Shipping:</span>
              <span class="price review__product-price">$25.00</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Tax:</span>
              <span class="price review__product-price">$6.35</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Total:</span>
              <span class="price review__product-price">$230.00</span>
            </li>
          </ul>
        </div>
        <div class="orders__item-track">
          <span class="orders__accent">You can track your order here</span>
          <a href="/track.html" class="btn-border orders__btn-track">Order tracking</a>
        </div>
      </div>
    </div>
    <div class="accordion-item orders__item">
      <button type="button" class="accordion-btn orders__btn">
        <span class="orders__btn-desc"># 50HV46580V84</span>
        <time class="orders__btn-meta-desc" datetime="2020-08-29">August 29, 2020</time>
        <span class="status orders__status status--progress">In progress</span>
        <span class="price orders__btn-price">$230.00</span>
        <span class="arrow-icon orders__btn-icon"></span>
      </button>
      <div class="accordion-content orders__content">
        <div class="orders__content-inner review">
          <ul class="list-reset review__list">
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-13.avif" type="image/avif">
                  <source srcset="img/product-image-13.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-13.jpg" class="image" width="80" height="80"
                    alt="Basic hooded sweatshirt in pink">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Basic hooded sweatshirt in pink</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">pink</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-1.avif" type="image/avif">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="80" height="80"
                    alt="Black and white sport cap">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Black and white sport cap</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-4.avif" type="image/avif">
                  <source srcset="img/product-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-4.jpg" class="image" width="80" height="80"
                    alt="Mid-rise slim cropped fit jeans">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Mid-rise slim cropped fit jeans</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">M</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-14.avif" type="image/avif">
                  <source srcset="img/product-image-14.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-14.jpg" class="image" width="80" height="80"
                    alt="Men fashion gray shoes">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Men fashion gray shoes</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">gray</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">44</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
          </ul>
          <ul class="list-reset review__total-list">
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Subtotal:</span>
              <span class="price review__product-price">$198.65</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Shipping:</span>
              <span class="price review__product-price">$25.00</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Tax:</span>
              <span class="price review__product-price">$6.35</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Total:</span>
              <span class="price review__product-price">$230.00</span>
            </li>
          </ul>
        </div>
        <div class="orders__item-track">
          <span class="orders__accent">You can track your order here</span>
          <a href="/track.html" class="btn-border orders__btn-track">Order tracking</a>
        </div>
      </div>
    </div>
    <div class="accordion-item orders__item">
      <button type="button" class="accordion-btn orders__btn">
        <span class="orders__btn-desc"># 93BR64523J71</span>
        <time class="orders__btn-meta-desc" datetime="2020-08-04">August 4, 2020</time>
        <span class="status orders__status status--delivered">Delivered</span>
        <span class="price orders__btn-price">$750.00</span>
        <span class="arrow-icon orders__btn-icon"></span>
      </button>
      <div class="accordion-content orders__content">
        <div class="orders__content-inner review">
          <ul class="list-reset review__list">
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-13.avif" type="image/avif">
                  <source srcset="img/product-image-13.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-13.jpg" class="image" width="80" height="80"
                    alt="Basic hooded sweatshirt in pink">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Basic hooded sweatshirt in pink</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">pink</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-1.avif" type="image/avif">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="80" height="80"
                    alt="Black and white sport cap">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Black and white sport cap</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-4.avif" type="image/avif">
                  <source srcset="img/product-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-4.jpg" class="image" width="80" height="80"
                    alt="Mid-rise slim cropped fit jeans">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Mid-rise slim cropped fit jeans</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">M</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-14.avif" type="image/avif">
                  <source srcset="img/product-image-14.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-14.jpg" class="image" width="80" height="80"
                    alt="Men fashion gray shoes">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Men fashion gray shoes</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">gray</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">44</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
          </ul>
          <ul class="list-reset review__total-list">
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Subtotal:</span>
              <span class="price review__product-price">$198.65</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Shipping:</span>
              <span class="price review__product-price">$25.00</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Tax:</span>
              <span class="price review__product-price">$6.35</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Total:</span>
              <span class="price review__product-price">$230.00</span>
            </li>
          </ul>
        </div>
        <div class="orders__item-track">
          <span class="orders__accent">You can track your order here</span>
          <a href="/track.html" class="btn-border orders__btn-track">Order tracking</a>
        </div>
      </div>
    </div>
    <div class="accordion-item orders__item">
      <button type="button" class="accordion-btn orders__btn">
        <span class="orders__btn-desc"># 34BV66580K92</span>
        <time class="orders__btn-meta-desc" datetime="2020-09-09">September 9, 2020</time>
        <span class="status orders__status status--delivered">Delivered</span>
        <span class="price orders__btn-price">$750.00</span>
        <span class="arrow-icon orders__btn-icon"></span>
      </button>
      <div class="accordion-content orders__content">
        <div class="orders__content-inner review">
          <ul class="list-reset review__list">
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-13.avif" type="image/avif">
                  <source srcset="img/product-image-13.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-13.jpg" class="image" width="80" height="80"
                    alt="Basic hooded sweatshirt in pink">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Basic hooded sweatshirt in pink</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">pink</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-1.avif" type="image/avif">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="80" height="80"
                    alt="Black and white sport cap">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Black and white sport cap</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-4.avif" type="image/avif">
                  <source srcset="img/product-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-4.jpg" class="image" width="80" height="80"
                    alt="Mid-rise slim cropped fit jeans">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Mid-rise slim cropped fit jeans</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">M</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-14.avif" type="image/avif">
                  <source srcset="img/product-image-14.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-14.jpg" class="image" width="80" height="80"
                    alt="Men fashion gray shoes">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Men fashion gray shoes</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">gray</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">44</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
          </ul>
          <ul class="list-reset review__total-list">
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Subtotal:</span>
              <span class="price review__product-price">$198.65</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Shipping:</span>
              <span class="price review__product-price">$25.00</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Tax:</span>
              <span class="price review__product-price">$6.35</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Total:</span>
              <span class="price review__product-price">$230.00</span>
            </li>
          </ul>
        </div>
        <div class="orders__item-track">
          <span class="orders__accent">You can track your order here</span>
          <a href="/track.html" class="btn-border orders__btn-track">Order tracking</a>
        </div>
      </div>
    </div>
    <div class="accordion-item orders__item">
      <button type="button" class="accordion-btn orders__btn">
        <span class="orders__btn-desc"># 34BV66580K92</span>
        <time class="orders__btn-meta-desc" datetime="2020-09-09">September 9, 2020</time>
        <span class="status orders__status status--canceled">Canceled</span>
        <span class="price orders__btn-price">$750.00</span>
        <span class="arrow-icon orders__btn-icon"></span>
      </button>
      <div class="accordion-content orders__content">
        <div class="orders__content-inner review">
          <ul class="list-reset review__list">
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-13.avif" type="image/avif">
                  <source srcset="img/product-image-13.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-13.jpg" class="image" width="80" height="80"
                    alt="Basic hooded sweatshirt in pink">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Basic hooded sweatshirt in pink</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">pink</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-1.avif" type="image/avif">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="80" height="80"
                    alt="Black and white sport cap">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Black and white sport cap</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-4.avif" type="image/avif">
                  <source srcset="img/product-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-4.jpg" class="image" width="80" height="80"
                    alt="Mid-rise slim cropped fit jeans">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Mid-rise slim cropped fit jeans</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">M</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-14.avif" type="image/avif">
                  <source srcset="img/product-image-14.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-14.jpg" class="image" width="80" height="80"
                    alt="Men fashion gray shoes">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Men fashion gray shoes</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">gray</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">44</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
          </ul>
          <ul class="list-reset review__total-list">
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Subtotal:</span>
              <span class="price review__product-price">$198.65</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Shipping:</span>
              <span class="price review__product-price">$25.00</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Tax:</span>
              <span class="price review__product-price">$6.35</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Total:</span>
              <span class="price review__product-price">$230.00</span>
            </li>
          </ul>
        </div>
        <div class="orders__item-track">
          <span class="orders__accent">You can track your order here</span>
          <a href="/track.html" class="btn-border orders__btn-track">Order tracking</a>
        </div>
      </div>
    </div>
    <div class="accordion-item orders__item">
      <button type="button" class="accordion-btn orders__btn">
        <span class="orders__btn-desc"># 34BV66580K92</span>
        <time class="orders__btn-meta-desc" datetime="2020-09-09">September 9, 2020</time>
        <span class="status orders__status status--progress">In progress</span>
        <span class="price orders__btn-price">$750.00</span>
        <span class="arrow-icon orders__btn-icon"></span>
      </button>
      <div class="accordion-content orders__content">
        <div class="orders__content-inner review">
          <ul class="list-reset review__list">
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-13.avif" type="image/avif">
                  <source srcset="img/product-image-13.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-13.jpg" class="image" width="80" height="80"
                    alt="Basic hooded sweatshirt in pink">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Basic hooded sweatshirt in pink</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">pink</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-1.avif" type="image/avif">
                  <source srcset="img/product-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-1.jpg" class="image" width="80" height="80"
                    alt="Black and white sport cap">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Black and white sport cap</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">S</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-4.avif" type="image/avif">
                  <source srcset="img/product-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-4.jpg" class="image" width="80" height="80"
                    alt="Mid-rise slim cropped fit jeans">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Mid-rise slim cropped fit jeans</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">black</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">M</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
            <li class="review__item orders__review-item">
              <div class="review__product orders__review-product">
                <picture class="picture review__picture orders__review-picture">
                  <source srcset="img/product-image-14.avif" type="image/avif">
                  <source srcset="img/product-image-14.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-14.jpg" class="image" width="80" height="80"
                    alt="Men fashion gray shoes">
                </picture>
                <div class="review__product-content">
                  <span class="review__accent">Men fashion gray shoes</span>
                  <div class="review__product-params">
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Color:</span>
                      <span class="review__desc">gray</span>
                    </div>
                    <div class="review__product-param">
                      <span class="review__desc review__desc--gray">Size:</span>
                      <span class="review__desc">44</span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Price:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Quantity:</span>
                <span class="review__desc">1</span>
              </label>
              <label class="label review__label">
                <span class="review__desc review__desc--gray">Subtotal:</span>
                <span class="price review__product-price">$15.50</span>
              </label>
            </li>
          </ul>
          <ul class="list-reset review__total-list">
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Subtotal:</span>
              <span class="price review__product-price">$198.65</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Shipping:</span>
              <span class="price review__product-price">$25.00</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Tax:</span>
              <span class="price review__product-price">$6.35</span>
            </li>
            <li class="review__total-item">
              <span class="review__desc review__desc--gray">Total:</span>
              <span class="price review__product-price">$230.00</span>
            </li>
          </ul>
        </div>
        <div class="orders__item-track">
          <span class="orders__accent">You can track your order here</span>
          <a href="/track.html" class="btn-border orders__btn-track">Order tracking</a>
        </div>
      </div>
    </div>
    <button type="button" class="btn-reset btn-more orders__btn-more">
      <svg class="svg btn-more__icon">
        <use xlink:href="img/sprite.svg#convert"></use>
      </svg>
      Load more
    </button>
  </div>
</div>
