<section class="products products--gray" data-anchor="trending">
  <div class="container products__container">
    <div class="swiper products__slider" data-product-slider>
      <div class="products__slider-head anim-item anim-item--norepeat">
        <h2 class="title h2 products__title">Trending now</h2>
        <div class="products__controls">
          <button type="button"
            class="btn-reset swiper-button-prev control control--prev products__control--prev products__control products__control--primary"
            aria-label="Previus slide">
            <svg class="svg control__icon">
              <use xlink:href="img/sprite.svg#left"></use>
            </svg>
          </button>
          <button type="button"
            class="btn-reset swiper-button-next control control--next products__control--next products__control products__control--primary"
            aria-label="Next slide">
            <svg class="svg control__icon">
              <use xlink:href="img/sprite.svg#right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="swiper-wrapper products__wrapper">
        <div class="swiper-slide products__slide anim-item anim-item--norepeat">
          <article class="card card--gray">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-7.avif" type="image/avif">
                  <source srcset="img/product-image-7.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-7.jpg" class="image" width="390" height="440"
                    alt="Shirt with insertion lace trims">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Shirt with insertion lace trims
                  </h3>
                </a>
                <span class="card__price price price--big">$49.95</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide products__slide anim-item anim-item--norepeat">
          <article class="card card--gray">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-8.avif" type="image/avif">
                  <source srcset="img/product-image-8.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-8.jpg" class="image" width="390" height="440"
                    alt="Chrono watch with blue leather belt">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Chrono watch with blue leather belt
                  </h3>
                </a>
                <span class="card__price price price--big">$120.60</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide products__slide anim-item anim-item--norepeat">
          <article class="card card--gray">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-9.avif" type="image/avif">
                  <source srcset="img/product-image-9.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-9.jpg" class="image" width="390" height="440"
                    alt="Check coat with colour contrast">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Check coat with colour contrast
                  </h3>
                </a>
                <span class="card__price price price--big">$183.45</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide products__slide">
          <article class="card card--gray">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-7.avif" type="image/avif">
                  <source srcset="img/product-image-7.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-7.jpg" class="image" width="390" height="440"
                    alt="Shirt with insertion lace trims">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Shirt with insertion lace trims
                  </h3>
                </a>
                <span class="card__price price price--big">$49.95</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide products__slide">
          <article class="card card--gray">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-8.avif" type="image/avif">
                  <source srcset="img/product-image-8.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-8.jpg" class="image" width="390" height="440"
                    alt="Chrono watch with blue leather belt">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Chrono watch with blue leather belt
                  </h3>
                </a>
                <span class="card__price price price--big">$120.60</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide products__slide">
          <article class="card card--gray">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-9.avif" type="image/avif">
                  <source srcset="img/product-image-9.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-9.jpg" class="image" width="390" height="440"
                    alt="Check coat with colour contrast">
                </picture>
              </a>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Check coat with colour contrast
                  </h3>
                </a>
                <span class="card__price price price--big">$183.45</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <a href="#" class="btn-border products__btn anim-item anim-item--norepeat">Explore top sales</a>
    </div>
  </div>
</section>
