<section class="product">
  <div class="container product__container">
    <div class="product__head">
      <h1 class="title h2 product__title">Basic hooded sweatshirt in pink</h1>
      <span class="product__head-desc"><b>Art. No.</b> 183260098</span>
    </div>
    <div class="tabs product__tabs" data-tabs="product-tabs">
      <ul class="list-reset tabs__nav product__nav">
        <li class="tabs__nav-item product__item">
          <button class="btn-reset btn-border product__nav-btn tabs__nav-btn" type="button">
            General info
          </button>
        </li>
        <li class="tabs__nav-item product__item">
          <button class="btn-reset btn-border product__nav-btn tabs__nav-btn" type="button">
            Product details
          </button>
        </li>
        <li class="tabs__nav-item product__item">
          <button class="btn-reset btn-border product__nav-btn tabs__nav-btn" type="button">
            Reviews <small class="product__nav-count">12</small>
          </button>
        </li>
      </ul>
      <div class="tabs__content product__tabs-content">
        <div class="tabs__panel product__panel">
          <div class="product__gallery">
            <div class="swiper product__slider product__slider--thumbs" data-gallery-slider>
              <button type="button" class="btn-reset control product__control product__control--next swiper-button-next"
                aria-label="Next slide">
                <svg class="svg control__icon">
                  <use xlink:href="img/sprite.svg#right"></use>
                </svg>
              </button>
              <button type="button" class="btn-reset control product__control product__control--prev swiper-button-prev"
                aria-label="Previus slide">
                <svg class="svg control__icon">
                  <use xlink:href="img/sprite.svg#left"></use>
                </svg>
              </button>
              <div class="swiper-wrapper product__slider-wrapper">
                <div class="swiper-slide product__slide">
                  <picture class="picture product__picture">
                    <source srcset="img/product-image-13(2x).avif" type="image/avif">
                    <source srcset="img/product-image-13(2x).webp" type="image/webp">
                    <img loading="lazy" src="img/product-image-13(2x).jpg" class="image" width="600" height="600"
                      alt="Basic hooded sweatshirt in pink">
                  </picture>
                </div>
                <div class="swiper-slide product__slide">
                  <picture class="picture product__picture">
                    <source srcset="img/product-image-13(2x).avif" type="image/avif">
                    <source srcset="img/product-image-13(2x).webp" type="image/webp">
                    <img loading="lazy" src="img/product-image-13(2x).jpg" class="image" width="600" height="600"
                      alt="Basic hooded sweatshirt in pink">
                  </picture>
                </div>
                <div class="swiper-slide product__slide">
                  <picture class="picture product__picture">
                    <source srcset="img/product-image-13(2x).avif" type="image/avif">
                    <source srcset="img/product-image-13(2x).webp" type="image/webp">
                    <img loading="lazy" src="img/product-image-13(2x).jpg" class="image" width="600" height="600"
                      alt="Basic hooded sweatshirt in pink">
                  </picture>
                </div>
                <div class="swiper-slide product__slide">
                  <picture class="picture product__picture">
                    <source srcset="img/product-image-13(2x).avif" type="image/avif">
                    <source srcset="img/product-image-13(2x).webp" type="image/webp">
                    <img loading="lazy" src="img/product-image-13(2x).jpg" class="image" width="600" height="600"
                      alt="Basic hooded sweatshirt in pink">
                  </picture>
                </div>
                <div class="swiper-slide product__slide">
                  <picture class="picture product__picture">
                    <source srcset="img/product-image-13(2x).avif" type="image/avif">
                    <source srcset="img/product-image-13(2x).webp" type="image/webp">
                    <img loading="lazy" src="img/product-image-13(2x).jpg" class="image" width="600" height="600"
                      alt="Basic hooded sweatshirt in pink">
                  </picture>
                </div>
                <div class="swiper-slide product__slide">
                  <picture class="picture product__picture">
                    <source srcset="img/product-image-13(2x).avif" type="image/avif">
                    <source srcset="img/product-image-13(2x).webp" type="image/webp">
                    <img loading="lazy" src="img/product-image-13(2x).jpg" class="image" width="600" height="600"
                      alt="Basic hooded sweatshirt in pink">
                  </picture>
                </div>
              </div>
            </div>
            <div class="swiper product__slider-thumbs" data-thumbs-slider>
              <div class="swiper-wrapper product__slider-wrapper">
                <div class="swiper-slide product__slide">
                  <picture class="picture product__picture">
                    <source srcset="img/product-image-13.avif" type="image/avif">
                    <source srcset="img/product-image-13.webp" type="image/webp">
                    <img loading="lazy" src="img/product-image-13.jpg" class="image" width="104" height="104"
                      alt="Basic hooded sweatshirt in pink">
                  </picture>
                </div>
                <div class="swiper-slide product__slide">
                  <picture class="picture product__picture">
                    <source srcset="img/product-image-13.avif" type="image/avif">
                    <source srcset="img/product-image-13.webp" type="image/webp">
                    <img loading="lazy" src="img/product-image-13.jpg" class="image" width="104" height="104"
                      alt="Basic hooded sweatshirt in pink">
                  </picture>
                </div>
                <div class="swiper-slide product__slide">
                  <picture class="picture product__picture">
                    <source srcset="img/product-image-13.avif" type="image/avif">
                    <source srcset="img/product-image-13.webp" type="image/webp">
                    <img loading="lazy" src="img/product-image-13.jpg" class="image" width="104" height="104"
                      alt="Basic hooded sweatshirt in pink">
                  </picture>
                </div>
                <div class="swiper-slide product__slide">
                  <picture class="picture product__picture">
                    <source srcset="img/product-image-13.avif" type="image/avif">
                    <source srcset="img/product-image-13.webp" type="image/webp">
                    <img loading="lazy" src="img/product-image-13.jpg" class="image" width="104" height="104"
                      alt="Basic hooded sweatshirt in pink">
                  </picture>
                </div>
                <div class="swiper-slide product__slide">
                  <picture class="picture product__picture">
                    <source srcset="img/product-image-13.avif" type="image/avif">
                    <source srcset="img/product-image-13.webp" type="image/webp">
                    <img loading="lazy" src="img/product-image-13.jpg" class="image" width="104" height="104"
                      alt="Basic hooded sweatshirt in pink">
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="product__sidebar">
            <div class="product__wrapper product__wrapper--m12">
              <div class="product__sidebar-promotional">
                <span class="price price--red price--big product__sidebar-price" data-old-price="$31.00">$15.50</span>
                <span class="discount product__sidebar-discount">-50%</span>
              </div>
              <div class="product__sidebar-reviews">
                <ul class="list-reset rating product__sidebar-rating">
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star"></li>
                </ul>
                <span class="product__sidebar-desc product__sidebar-desc--min">12 reviews</span>
              </div>
            </div>
            <div class="product__wrapper product__wrapper--m25">
              <div class="label product__sidebar-label">
                <span class="product__sidebar-desc">Color</span>
                <fieldset class="fieldset-reset product__sidebar-fieldset">
                  <input type="radio" name="color" value="black"
                    class="input-reset radio-color radio-color--beige product__sidebar-radio">
                  <input type="radio" name="color" value="black"
                    class="input-reset radio-color radio-color--turquoise product__sidebar-radio">
                  <input type="radio" name="color" value="black"
                    class="input-reset radio-color radio-color--orange product__sidebar-radio">
                  <span class="product__sidebar-fieldset-desc">Pink</span>
                </fieldset>
              </div>
            </div>
            <div class="product__wrapper product__wrapper--flex-end">
              <label class="label product__sidebar-label">
                <span class="product__sidebar-desc">Size</span>
                <select name="size" class="select product__sidebar-select">
                  <option value="36" selected>36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                </select>
              </label>
              <button type="button" class="btn-reset product__sidebar-btn-size" data-modal="size-chart">
                Size chart
              </button>
            </div>
            <div class="product__wrapper product__wrapper--m28">
              <div class="stepper product__sidebar-stepper">
                <label class="stepper__field product__sidebar-stepper-field">
                  <input type="text" value="1" maxlength="3" class="stepper__input product__sidebar-desc" aria-label="Number of selected items">
                </label>
                <div class="stepper__btns product__sidebar-stepper-btns">
                  <button class="stepper__btn stepper__btn--up" aria-label="Increase Quantity">
                    <svg class="svg" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.99966 0.666992L12.6185 6.66699H3.38086L7.99966 0.666992Z" fill="#1E212C"/>
                    </svg>
                  </button>
                  <button class="stepper__btn stepper__btn--down stepper__btn--disabled"
                    aria-label="Reduce the amount of">
                    <svg class="svg" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.99966 15.3337L3.38086 8.83366L12.6185 8.83366L7.99966 15.3337Z" fill="#1E212C"/>
                    </svg>
                  </button>
                </div>
              </div>
              <button type="button" class="btn-reset btn-primary product__sidebar-btn-primary">
                <svg class="svg btn-primary__icon product__sidebar-btn-icon">
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
                Add to cart
              </button>
              <button type="button" class="btn-reset btn-border product__sidebar-btn-border">
                <svg class="svg btn-border__icon product__sidebar-btn-icon">
                  <use xlink:href="img/sprite.svg#heart-3"></use>
                </svg>
                Favourite
              </button>
            </div>
            <div class="accordion-list accordion-list--product product__sidebar-accordion-list">
              <div class="accordion-item product__sidebar-accordion-item">
                <button type="button" class="btn-reset accordion-btn product__sidebar-desc-accent">
                  Delivery
                  <span class="arrow-icon"></span>
                </button>
                <div class="accordion-content product__sidebar-content">
                  <span class="product__sidebar-desc product__sidebar-desc--pt">Free standard shipping on orders over
                    <b>$35</b> before
                    tax, plus free returns.</span>
                  <table class="product__sidebar-table">
                    <tr class="product__sidebar-row">
                      <td class="product__sidebar-desc product__sidebar-desc--gray product__sidebar-cell">
                        TYPE
                      </td>
                      <td class="product__sidebar-desc product__sidebar-desc--gray product__sidebar-cell">
                        HOW LONG
                      </td>
                      <td class="product__sidebar-desc product__sidebar-desc--gray product__sidebar-cell">
                        HOW MUCH
                      </td>
                    </tr>
                    <tr class="product__sidebar-row">
                      <td class="product__sidebar-desc product__sidebar-cell">
                        Standard delivery
                      </td>
                      <td class="product__sidebar-desc product__sidebar-cell">
                        1-4 business days
                      </td>
                      <td class="product__sidebar-desc product__sidebar-cell">
                        $4.50
                      </td>
                    </tr>
                    <tr class="product__sidebar-row">
                      <td class="product__sidebar-desc product__sidebar-cell">
                        Express delivery
                      </td>
                      <td class="product__sidebar-desc product__sidebar-cell">
                        1 business day
                      </td>
                      <td class="product__sidebar-desc product__sidebar-cell">
                        $10.00
                      </td>
                    </tr>
                    <tr class="product__sidebar-row">
                      <td class="product__sidebar-desc product__sidebar-cell">
                        Pick up in store
                      </td>
                      <td class="product__sidebar-desc product__sidebar-cell">
                        1-3 business days
                      </td>
                      <td class="product__sidebar-desc product__sidebar-cell">
                        Free
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="accordion-item product__sidebar-accordion-item">
                <button type="button" class="btn-reset accordion-btn product__sidebar-desc-accent">
                  Return
                  <span class="arrow-icon"></span>
                </button>
                <div class="accordion-content product__sidebar-content">
                  <span class="product__sidebar-desc product__sidebar-desc--pt">You have <b>60 days</b> to return the
                    item(s) using any of
                    the following methods:</span>
                  <ul class="list-reset product__sidebar-list">
                    <li class="product__sidebar-item">
                      <span class="product__sidebar-desc">Free store return</span>
                    </li>
                    <li class="product__sidebar-item">
                      <span class="product__sidebar-desc">Free returns via USPS Dropoff Service</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <ul class="list-reset social product__sidebar-social" title="Our company in social networks">
              <li class="social__item">
                <span class="product__sidebar-desc-accent">Share:</span>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" rel="noopener noreferrer" class="social__link product__sidebar-social-link"
                  aria-label="Our facebook profile">
                  <svg class="svg social__icon product__sidebar-social-icon social__icon--in">
                    <use xlink:href="img/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" rel="noopener noreferrer" class="social__link product__sidebar-social-link"
                  aria-label="Our twitter profile">
                  <svg class="svg social__icon product__sidebar-social-icon social__icon--tw">
                    <use xlink:href="img/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" rel="noopener noreferrer" class="social__link product__sidebar-social-link"
                  aria-label="Our pinterest profile">
                  <svg class="svg social__icon product__sidebar-social-icon social__icon--pt">
                    <use xlink:href="img/sprite.svg#pinterest"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <ul class="list-reset product__sidebar-payment payment">
              <li class="payment__list">
                <a href="#" target="_blank" rel="noopener noreferrer" aria-label="visa"
                  class="payment__link product__payment-link payment__link--visa"></a>
              </li>
              <li class="payment__list">
                <a href="#" target="_blank" rel="noopener noreferrer" aria-label="masterCard"
                  class="payment__link product__payment-link payment__link--mastercard"></a>
              </li>
              <li class="payment__list">
                <a href="#" target="_blank" rel="noopener noreferrer" aria-label="payPal"
                  class="payment__link product__payment-link payment__link--paypal"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel product__panel">
          <div class="product__details">
            <div class="product__detail">
              <span class="product__detail-accent product__detail-accent--m">Details</span>
              <p class="text product__detail-desc">
                Id habitant tempor aliquam vulputate enim velit tincidunt sed.
                Urna sed facilisis nulla feugiat amet venenatis. Id suspendisse
                ut quis tellus aliquam pellentesque neque, semper donec.
              </p>
              <ul class="list-reset product__detail-list">
                <li class="product__detail-item">
                  <span class="product__detail-desc">Brand: Jordan</span>
                </li>
                <li class="product__detail-item">
                  <span class="product__detail-desc">Color: gray / red / yellow</span>
                </li>
                <li class="product__detail-item">
                  <span class="product__detail-desc">Mid-cut design</span>
                </li>
                <li class="product__detail-item">
                  <span class="product__detail-desc">Lace-up fastening </span>
                </li>
                <li class="product__detail-item">
                  <span class="product__detail-desc">Rubber outsole pods for durability and traction</span>
                </li>
                <li class="product__detail-item">
                  <span class="product__detail-desc">Moulded grooves in forefoot offer added flexibility</span>
                </li>
                <li class="product__detail-item">
                  <span class="product__detail-desc">Padded cuff with inner nodes designed to offer comfort and
                    support around the Achilles tendon</span>
                </li>
              </ul>
            </div>
            <div class="product__detail">
              <span class="product__detail-accent">Fabric</span>
              <ul class="list-reset product__detail-list">
                <li class="product__detail-item">
                  <span class="product__detail-desc">Upper: 50% real leather, 50% textile</span>
                </li>
                <li class="product__detail-item">
                  <span class="product__detail-desc">Lining: 100% textile</span>
                </li>
                <li class="product__detail-item">
                  <span class="product__detail-desc">Sole: 100% other materials</span>
                </li>
              </ul>
            </div>
            <div class="product__detail">
              <span class="product__detail-accent">Care</span>
              <ul class="list-reset product__detail-list">
                <li class="product__detail-item product__detail-item--icon product__detail-item--1">
                  <span class="product__detail-desc">Hand wash only (30°)</span>
                </li>
                <li class="product__detail-item product__detail-item--icon product__detail-item--2">
                  <span class="product__detail-desc">No ironing</span>
                </li>
                <li class="product__detail-item product__detail-item--icon product__detail-item--3">
                  <span class="product__detail-desc">Do not use any bleach</span>
                </li>
                <li class="product__detail-item product__detail-item--icon product__detail-item--4">
                  <span class="product__detail-desc">Do not tumble dry</span>
                </li>
              </ul>
            </div>
          </div>
          <article class="card card--white product__card">
            <div class="card__top">
              <div class="swiper card__slider">
                <div class="swiper-wrapper card__slider-wrapper">
                  <div class="swiper-slide card__slide">
                    <picture class="picture card__picture">
                      <source srcset="img/product-image-13(2x).avif" type="image/avif">
                      <source srcset="img/product-image-13(2x).webp" type="image/webp">
                      <img loading="lazy" src="img/product-image-13(2x).jpg" class="image product__panel-image"
                        width="390" height="440" alt="Basic hooded sweatshirt in pink">
                    </picture>
                  </div>
                  <div class="swiper-slide card__slide">
                    <picture class="picture card__picture">
                      <source srcset="img/product-image-13(2x).avif" type="image/avif">
                      <source srcset="img/product-image-13(2x).webp" type="image/webp">
                      <img loading="lazy" src="img/product-image-13(2x).jpg" class="image product__panel-image"
                        width="390" height="440" alt="Basic hooded sweatshirt in pink">
                    </picture>
                  </div>
                  <div class="swiper-slide card__slide">
                    <picture class="picture card__picture">
                      <source srcset="img/product-image-13(2x).avif" type="image/avif">
                      <source srcset="img/product-image-13(2x).webp" type="image/webp">
                      <img loading="lazy" src="img/product-image-13(2x).jpg" class="image product__panel-image"
                        width="390" height="440" alt="Basic hooded sweatshirt in pink">
                    </picture>
                  </div>
                </div>
                <button type="button" class="btn-reset card__control card__control--prev swiper-button-prev"
                  aria-label="Next slide"></button>
                <button type="button" class="btn-reset card__control card__control--next swiper-button-next"
                  aria-label="Previus slide"></button>
                <ul class="list-reset rating card__rating">
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star"></li>
                </ul>
              </div>
              <span class="discount card__discount">-50%</span>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <h3 class="title card__title product__card-title">
                  Basic hooded sweatshirt in pink
                </h3>
                <span class="card__price price price--big price--red" data-old-price="$31.00">$15.50</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="tabs__panel product__panel">
          <div class="product__reviews">
            <div class="product__reviews-wrapper product__reviews-wrapper--m80 product__reviews-wrapper--wrap">
              <div class="product__reviews-content">
                <strong class="product__reviews-accent">12 reviews</strong>
                <ul class="list-reset rating product__reviews-rating">
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star"></li>
                </ul>
                <span class="product__reviews-desc"><samp>9 out of 12 (75%)</samp> Customers recommended this
                  product</span>
              </div>
              <ul class="list-reset breakdown product__reviews-breakdown">
                <li class="breakdown__item">
                  <span class="product__reviews-desc breakdown__srar">5</span>
                  <span class="breakdown__progress-bar breakdown__progress-bar--success" role="progressbar" tabindex="0"
                    aria-label="buyers who left a rating of 5: 7" data-progress="90%"></span>
                  <span class="product__reviews-desc">7</span>
                </li>
                <li class="breakdown__item">
                  <span class="product__reviews-desc breakdown__srar">4</span>
                  <span class="breakdown__progress-bar breakdown__progress-bar--light-green" role="progressbar" tabindex="0"
                    aria-label="buyers who left a rating of 5: 2" data-progress="50%"></span>
                  <span class="product__reviews-desc">2</span>
                </li>
                <li class="breakdown__item">
                  <span class="product__reviews-desc breakdown__srar">3</span>
                  <span class="breakdown__progress-bar breakdown__progress-bar--lime" role="progressbar" tabindex="0"
                    aria-label="buyers who left a rating of 5: 1" data-progress="30%"></span>
                  <span class="product__reviews-desc">1</span>
                </li>
                <li class="breakdown__item">
                  <span class="product__reviews-desc breakdown__srar">2</span>
                  <span class="breakdown__progress-bar breakdown__progress-bar--warning" role="progressbar" tabindex="0"
                    aria-label="buyers who left a rating of 5: 1" data-progress="30%"></span>
                  <span class="product__reviews-desc">1</span>
                </li>
                <li class="breakdown__item">
                  <span class="product__reviews-desc breakdown__srar">1</span>
                  <span class="breakdown__progress-bar breakdown__progress-bar--danger" role="progressbar" tabindex="0"
                    aria-label="buyers who left a rating of 5: 1" data-progress="30%"></span>
                  <span class="product__reviews-desc">1</span>
                </li>
              </ul>
            </div>
            <div class="product__reviews-wrapper product__reviews-wrapper--m60">
              <button type="button" class="btn-reset btn-primary product__reviews-btn-primary" data-modal="review">
                Leave a review
              </button>
              <label class="label product__reviews-label">
                <span class="product__reviews-select-desc">Sort by</span>
                <select name="sort" class="select product__reviews-select">
                  <option value="newest" selected>newest</option>
                  <option value="oldest">oldest</option>
                  <option value="recently">recently</option>
                </select>
              </label>
            </div>
            <div class="product__reviews-wrapper product__reviews-wrapper--column">
              <ul class="list-reset comments product__comments-list" aria-label="Comments">
                <li class="comments__item">
                  <div class="comments__details">
                    <span class="comments__accent">Devon Lane</span>
                    <time datetime="2020-07-15" class="product__comments-desc">July 15, 2020</time>
                    <ul class="list-reset rating comments__rating">
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star rating__star--noted"></li>
                    </ul>
                  </div>
                  <div class="comments__content">
                    <p class="text comments__text">
                      Phasellus varius faucibus ultrices odio in. Massa neque
                      dictum natoque ornare rutrum malesuada et phasellus.
                      Viverra natoque nulla cras vel nisl proin senectus. Tortor
                      sed eleifend ante tristique felis sed urna aliquet.
                      Suspendisse fames egestas sed duis purus diam et.
                    </p>
                    <div class="comments__interactive">
                      <button type="button" class="btn-reset btn-reply product__comments-desc">
                        <svg class="svg btn-reply__icon">
                          <use xlink:href="img/sprite.svg#share-arrow"></use>
                        </svg>
                        Reply
                      </button>
                      <div class="comments__btns">
                        <input type="checkbox" name="like" value="2" class="input-reset btn-like product__comments-desc"
                          aria-label="like button. Current count: 2">
                        <input type="checkbox" name="dislike" value="0"
                          class="input-reset btn-dislike product__comments-desc"
                          aria-label="dislike button. Current count: 0">
                      </div>
                    </div>
                  </div>
                </li>
                <li class="comments__item">
                  <div class="comments__details">
                    <span class="comments__accent">Annette Black</span>
                    <time datetime="2020-08-24" class="product__comments-desc">1 day ago</time>
                    <ul class="list-reset rating comments__rating">
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star"></li>
                    </ul>
                  </div>
                  <div class="comments__content">
                    <p class="text comments__text">
                      <b>@Devon Lane</b> Egestas fermentum natoque sollicitudin
                      mauris. Facilisis praesent urna sed rhoncus quis pharetra
                      pellentesque erat sagittis.
                    </p>
                    <div class="comments__interactive">
                      <button type="button" class="btn-reset btn-reply product__comments-desc">
                        <svg class="svg btn-reply__icon">
                          <use xlink:href="img/sprite.svg#share-arrow"></use>
                        </svg>
                        Reply
                      </button>
                      <div class="comments__btns">
                        <input type="checkbox" name="like" value="2" class="input-reset btn-like product__comments-desc"
                          aria-label="like button. Current count: 2">
                        <input type="checkbox" name="dislike" value="1"
                          class="input-reset btn-dislike product__comments-desc"
                          aria-label="dislike button. Current count: 1">
                      </div>
                    </div>
                  </div>
                </li>
                <li class="comments__item">
                  <div class="comments__details">
                    <span class="comments__accent">Albert Flores</span>
                    <time datetime="2020-07-23" class="product__comments-desc">July 7, 2020</time>
                    <ul class="list-reset rating comments__rating">
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star"></li>
                      <li class="rating__star"></li>
                      <li class="rating__star"></li>
                      <li class="rating__star"></li>
                    </ul>
                  </div>
                  <div class="comments__content">
                    <p class="text comments__text">
                      Libero commodo sit dui ac proin. Penatibus ultricies at
                      adipiscing mauris nunc. Fames faucibus nisl duis id diam.
                    </p>
                    <div class="comments__interactive">
                      <button type="button" class="btn-reset btn-reply product__comments-desc">
                        <svg class="svg btn-reply__icon">
                          <use xlink:href="img/sprite.svg#share-arrow"></use>
                        </svg>
                        Reply
                      </button>
                      <div class="comments__btns">
                        <input type="checkbox" name="like" value="0" class="input-reset btn-like product__comments-desc"
                          aria-label="like button. Current count: 0">
                        <input type="checkbox" name="dislike" value="3"
                          class="input-reset btn-dislike product__comments-desc"
                          aria-label="dislike button. Current count: 3">
                      </div>
                    </div>
                  </div>
                </li>
                <li class="comments__item">
                  <div class="comments__details">
                    <span class="comments__accent">Marvin McKinney</span>
                    <time datetime="2020-06-28" class="product__comments-desc">June 28, 2020</time>
                    <ul class="list-reset rating comments__rating">
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star rating__star--noted"></li>
                      <li class="rating__star rating__star--noted"></li>
                    </ul>
                  </div>
                  <div class="comments__content">
                    <p class="text comments__text">
                      Ullamcorper nibh sed ac ipsum nunc imperdiet rhoncus. Quam
                      donec habitant nibh sit consequat erat libero, tincidunt.
                      Eros ut aliquam proin et duis. Mauris, egestas congue nibh
                      dui a nulla.
                    </p>
                    <div class="comments__interactive">
                      <button type="button" class="btn-reset btn-reply product__comments-desc">
                        <svg class="svg btn-reply__icon">
                          <use xlink:href="img/sprite.svg#share-arrow"></use>
                        </svg>
                        Reply
                      </button>
                      <div class="comments__btns">
                        <input type="checkbox" name="like" value="2" class="input-reset btn-like product__comments-desc"
                          aria-label="like button. Current count: 2">
                        <input type="checkbox" name="dislike" value="0"
                          class="input-reset btn-dislike product__comments-desc"
                          aria-label="dislike button. Current count: 0">
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="list-reset page-nav product__comments-page-nav" aria-label="Page navigation">
                <li class="page-nav__item">
                  <a href="#" class="page-nav__link page-nav__link--active">1</a>
                </li>
                <li class="page-nav__item">
                  <a href="#" class="page-nav__link page-nav__link">2</a>
                </li>
                <li class="page-nav__item">
                  <a href="#" class="page-nav__link page-nav__link">3</a>
                </li>
                <li class="page-nav__item">
                  <a href="#" class="page-nav__link page-nav__link">4</a>
                </li>
                <li class="page-nav__item">
                  <a href="#" class="page-nav__link page-nav__link--next">
                    <svg class="svg page-nav__icon">
                      <use xlink:href="img/sprite.svg#right"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <article class="card card--white product__card">
            <div class="card__top">
              <div class="swiper card__slider">
                <div class="swiper-wrapper card__slider-wrapper">
                  <div class="swiper-slide card__slide">
                    <picture class="picture card__picture">
                      <source srcset="img/product-image-13(2x).avif" type="image/avif">
                      <source srcset="img/product-image-13(2x).webp" type="image/webp">
                      <img loading="lazy" src="img/product-image-13(2x).jpg" class="image product__panel-image"
                        width="390" height="440" alt="Basic hooded sweatshirt in pink">
                    </picture>
                  </div>
                  <div class="swiper-slide card__slide">
                    <picture class="picture card__picture">
                      <source srcset="img/product-image-13(2x).avif" type="image/avif">
                      <source srcset="img/product-image-13(2x).webp" type="image/webp">
                      <img loading="lazy" src="img/product-image-13(2x).jpg" class="image product__panel-image"
                        width="390" height="440" alt="Basic hooded sweatshirt in pink">
                    </picture>
                  </div>
                  <div class="swiper-slide card__slide">
                    <picture class="picture card__picture">
                      <source srcset="img/product-image-13(2x).avif" type="image/avif">
                      <source srcset="img/product-image-13(2x).webp" type="image/webp">
                      <img loading="lazy" src="img/product-image-13(2x).jpg" class="image product__panel-image"
                        width="390" height="440" alt="Basic hooded sweatshirt in pink">
                    </picture>
                  </div>
                </div>
                <button type="button" class="btn-reset card__control card__control--prev swiper-button-prev"
                  aria-label="Next slide"></button>
                <button type="button" class="btn-reset card__control card__control--next swiper-button-next"
                  aria-label="Previus slide"></button>
                <ul class="list-reset rating card__rating">
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star"></li>
                </ul>
              </div>
              <span class="discount card__discount">-50%</span>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <h3 class="title card__title product__card-title">
                  Basic hooded sweatshirt in pink
                </h3>
                <span class="card__price price price--big price--red" data-old-price="$31.00">$15.50</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
