<section class="products" data-anchor="sales">
  <div class="container products__container">
    <div class="swiper products__slider" data-product-slider>
      <div class="products__slider-head anim-item anim-item--norepeat">
        <h2 class="title h2 products__title">Sale up to 70%</h2>
        <div class="products__controls">
          <button type="button"
            class="btn-reset swiper-button-prev control control--prev products__control--prev products__control"
            aria-label="Previus slide">
            <svg class="svg control__icon">
              <use xlink:href="img/sprite.svg#left"></use>
            </svg>
          </button>
          <button type="button"
            class="btn-reset swiper-button-next control control--next products__control--next products__control"
            aria-label="Next slide">
            <svg class="svg control__icon">
              <use xlink:href="img/sprite.svg#right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="swiper-wrapper products__wrapper">
        <div class="swiper-slide products__slide anim-item anim-item--norepeat">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-10.avif" type="image/avif">
                  <source srcset="img/product-image-10.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-10.jpg" class="image" width="390" height="440"
                    alt="Leather crossbody bag with gold hardware">
                </picture>
              </a>
              <span class="discount card__discount">-50%</span>
              <ul class="list-reset rating card__rating">
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
              </ul>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Leather crossbody bag with gold hardware
                  </h3>
                </a>
                <span class="card__price price price--red price--big" data-old-price="$179.00">$89.50</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide products__slide anim-item anim-item--norepeat">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-11.avif" type="image/avif">
                  <source srcset="img/product-image-11.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-11.jpg" class="image" width="390" height="440"
                    alt="Skinny push-up jeans">
                </picture>
              </a>
              <span class="discount card__discount">-50%</span>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Skinny push-up jeans
                  </h3>
                </a>
                <span class="card__price price price--red price--big" data-old-price="$80.00">$40.00</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide products__slide anim-item anim-item--norepeat">
          <article class="card card--white">
            <div class="card__top">
              <div class="swiper card__slider">
                <div class="swiper-wrapper card__slider-wrapper">
                  <div class="swiper-slide card__slide">
                    <a href="/product.html" aria-label="Go to product page" class="card__link">
                      <picture class="picture card__picture">
                        <source srcset="img/product-image-12.avif" type="image/avif">
                        <source srcset="img/product-image-12.webp" type="image/webp">
                        <img loading="lazy" src="img/product-image-12.jpg" class="image" width="390" height="440"
                          alt="Wide heel suede ankle boots">
                      </picture>
                    </a>
                  </div>
                  <div class="swiper-slide card__slide">
                    <a href="/product.html" aria-label="Go to product page" class="card__link">
                      <picture class="picture card__picture">
                        <source srcset="img/product-image-12.avif" type="image/avif">
                        <source srcset="img/product-image-12.webp" type="image/webp">
                        <img loading="lazy" src="img/product-image-12.jpg" class="image" width="390" height="440"
                          alt="Wide heel suede ankle boots">
                      </picture>
                    </a>
                  </div>
                  <div class="swiper-slide card__slide">
                    <a href="/product.html" aria-label="Go to product page" class="card__link">
                      <picture class="picture card__picture">
                        <source srcset="img/product-image-12.avif" type="image/avif">
                        <source srcset="img/product-image-12.webp" type="image/webp">
                        <img loading="lazy" src="img/product-image-12.jpg" class="image" width="390" height="440"
                          alt="Wide heel suede ankle boots">
                      </picture>
                    </a>
                  </div>
                </div>
                <button type="button" class="btn-reset card__control card__control--prev swiper-button-prev"
                  aria-label="Next slide"></button>
                <button type="button" class="btn-reset card__control card__control--next swiper-button-next"
                  aria-label="Previus slide"></button>
                <ul class="list-reset rating card__rating">
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                </ul>
              </div>
              <span class="discount card__discount">-20%</span>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Wide heel suede ankle boots
                  </h3>
                </a>
                <span class="card__price price price--big price--red" data-old-price="$148.95">$119.16</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide products__slide anim-item anim-item--norepeat">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-10.avif" type="image/avif">
                  <source srcset="img/product-image-10.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-10.jpg" class="image" width="390" height="440"
                    alt="Leather crossbody bag with gold hardware">
                </picture>
              </a>
              <span class="discount card__discount">-50%</span>
              <ul class="list-reset rating card__rating">
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
                <li class="rating__star rating__star--noted"></li>
              </ul>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Leather crossbody bag with gold hardware
                  </h3>
                </a>
                <span class="card__price price price--red price--big" data-old-price="$179.00">$89.50</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide products__slide anim-item anim-item--norepeat">
          <article class="card card--white">
            <div class="card__top">
              <a href="/product.html" aria-label="Go to product page" class="card__link">
                <picture class="picture card__picture">
                  <source srcset="img/product-image-11.avif" type="image/avif">
                  <source srcset="img/product-image-11.webp" type="image/webp">
                  <img loading="lazy" src="img/product-image-11.jpg" class="image" width="390" height="440"
                    alt="Skinny push-up jeans">
                </picture>
              </a>
              <span class="discount card__discount">-50%</span>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Skinny push-up jeans
                  </h3>
                </a>
                <span class="card__price price price--red price--big" data-old-price="$80.00">$40.00</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide products__slide anim-item anim-item--norepeat">
          <article class="card card--white">
            <div class="card__top">
              <div class="swiper card__slider">
                <div class="swiper-wrapper card__slider-wrapper">
                  <div class="swiper-slide card__slide">
                    <a href="/product.html" aria-label="Go to product page" class="card__link">
                      <picture class="picture card__picture">
                        <source srcset="img/product-image-12.avif" type="image/avif">
                        <source srcset="img/product-image-12.webp" type="image/webp">
                        <img loading="lazy" src="img/product-image-12.jpg" class="image" width="390" height="440"
                          alt="Wide heel suede ankle boots">
                      </picture>
                    </a>
                  </div>
                  <div class="swiper-slide card__slide">
                    <a href="/product.html" aria-label="Go to product page" class="card__link">
                      <picture class="picture card__picture">
                        <source srcset="img/product-image-12.avif" type="image/avif">
                        <source srcset="img/product-image-12.webp" type="image/webp">
                        <img loading="lazy" src="img/product-image-12.jpg" class="image" width="390" height="440"
                          alt="Wide heel suede ankle boots">
                      </picture>
                    </a>
                  </div>
                  <div class="swiper-slide card__slide">
                    <a href="/product.html" aria-label="Go to product page" class="card__link">
                      <picture class="picture card__picture">
                        <source srcset="img/product-image-12.avif" type="image/avif">
                        <source srcset="img/product-image-12.webp" type="image/webp">
                        <img loading="lazy" src="img/product-image-12.jpg" class="image" width="390" height="440"
                          alt="Wide heel suede ankle boots">
                      </picture>
                    </a>
                  </div>
                </div>
                <button type="button" class="btn-reset card__control card__control--prev swiper-button-prev"
                  aria-label="Next slide"></button>
                <button type="button" class="btn-reset card__control card__control--next swiper-button-next"
                  aria-label="Previus slide"></button>
                <ul class="list-reset rating card__rating">
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                  <li class="rating__star rating__star--noted"></li>
                </ul>
              </div>
              <span class="discount card__discount">-20%</span>
              <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
                aria-label="Add to wishlist">
            </div>
            <div class="card__bottom">
              <div class="card__head">
                <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
                  <h3 class="title card__title">
                    Wide heel suede ankle boots
                  </h3>
                </a>
                <span class="card__price price price--big price--red" data-old-price="$148.95">$119.16</span>
              </div>
              <div class="card__additional">
                <div class="card__options">
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                    <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
                  </fieldset>
                  <fieldset class="fieldset-reset card__fieldset">
                    <input type="radio" name="color" value="black"
                      class="input-reset radio-color radio-color--black card__radio">
                    <input type="radio" name="color" value="brown"
                      class="input-reset radio-color radio-color--brown card__radio">
                    <input type="radio" name="color" value="turquoise"
                      class="input-reset radio-color radio-color--turquoise card__radio">
                  </fieldset>
                </div>
                <button class="btn-reset btn-primary card__btn">
                  <svg class="svg btn-primary__icon">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                  Add to cart
                </button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <a href="#" class="btn-border products__btn anim-item anim-item--norepeat">See all sale products</a>
    </div>
  </div>
</section>
