<div class="recently account__content">
  <div class="recently__head">
    <h1 class="title account__title">Recently viewed</h1>
    <button type="button" class="btn-reset btn-delete">
      <svg class="svg btn-delete__icon">
        <use xlink:href="img/sprite.svg#delete"></use>
      </svg>
      Delete all
    </button>
  </div>
  <ul class="list-reset recently__content">
    <li class="recently__item">
      <article class="card card--white card--abs recently__card">
        <div class="card__top">
          <a href="/product.html" aria-label="Go to product page" class="card__link">
            <picture class="picture card__picture">
              <source srcset="img/product-image-10.avif" type="image/avif">
              <source srcset="img/product-image-10.webp" type="image/webp">
              <img loading="lazy" src="img/product-image-10.jpg" class="image" width="390" height="440"
                alt="Leather crossbody bag with gold hardware">
            </picture>
          </a>
          <ul class="list-reset rating card__rating">
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
          </ul>
          <span class="discount card__discount">-50%</span>
          <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
            aria-label="Add to wishlist">
        </div>
        <div class="card__bottom">
          <div class="card__head">
            <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
              <h3 class="title card__title">
                Leather crossbody bag with gold hardware
              </h3>
            </a>
            <span class="card__price price price--big price--red" data-old-price="$179.00">$89.50</span>
          </div>
          <div class="card__additional">
            <div class="card__options">
              <fieldset class="fieldset-reset card__fieldset">
                <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
              </fieldset>
              <fieldset class="fieldset-reset card__fieldset">
                <input type="radio" name="color" value="black"
                  class="input-reset radio-color radio-color--black card__radio">
                <input type="radio" name="color" value="brown"
                  class="input-reset radio-color radio-color--brown card__radio">
                <input type="radio" name="color" value="turquoise"
                  class="input-reset radio-color radio-color--turquoise card__radio">
              </fieldset>
            </div>
            <button class="btn-reset btn-primary card__btn">
              <svg class="svg btn-primary__icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
              Add to cart
            </button>
          </div>
        </div>
      </article>
    </li>
    <li class="recently__item">
      <article class="card card--white card--abs recently__card">
        <div class="card__top">
          <a href="/product.html" aria-label="Go to product page" class="card__link">
            <picture class="picture card__picture">
              <source srcset="img/product-image-11.avif" type="image/avif">
              <source srcset="img/product-image-11.webp" type="image/webp">
              <img loading="lazy" src="img/product-image-11.jpg" class="image" width="390" height="440"
                alt="Skinny push-up jeans">
            </picture>
          </a>
          <span class="discount card__discount">-50%</span>
          <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
            aria-label="Add to wishlist">
        </div>
        <div class="card__bottom">
          <div class="card__head">
            <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
              <h3 class="title card__title">Skinny push-up jeans</h3>
            </a>
            <span class="card__price price price--big price--red" data-old-price="$80.00">$40.00</span>
          </div>
          <div class="card__additional">
            <div class="card__options">
              <fieldset class="fieldset-reset card__fieldset">
                <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
              </fieldset>
              <fieldset class="fieldset-reset card__fieldset">
                <input type="radio" name="color" value="black"
                  class="input-reset radio-color radio-color--black card__radio">
                <input type="radio" name="color" value="brown"
                  class="input-reset radio-color radio-color--brown card__radio">
                <input type="radio" name="color" value="turquoise"
                  class="input-reset radio-color radio-color--turquoise card__radio">
              </fieldset>
            </div>
            <button class="btn-reset btn-primary card__btn">
              <svg class="svg btn-primary__icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
              Add to cart
            </button>
          </div>
        </div>
      </article>
    </li>
    <li class="recently__item">
      <article class="card card--white card--abs recently__card">
        <div class="card__top">
          <a href="/product.html" aria-label="Go to product page" class="card__link">
            <picture class="picture card__picture">
              <source srcset="img/product-image-7.avif" type="image/avif">
              <source srcset="img/product-image-7.webp" type="image/webp">
              <img loading="lazy" src="img/product-image-7.jpg" class="image" width="390" height="440"
                alt="Shirt with insertion lace trims">
            </picture>
          </a>
          <ul class="list-reset rating card__rating">
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
          </ul>
          <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
            aria-label="Add to wishlist">
        </div>
        <div class="card__bottom">
          <div class="card__head">
            <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
              <h3 class="title card__title">Shirt with insertion lace trims</h3>
            </a>
            <span class="card__price price">$49.95</span>
          </div>
          <div class="card__additional">
            <div class="card__options">
              <fieldset class="fieldset-reset card__fieldset">
                <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
              </fieldset>
              <fieldset class="fieldset-reset card__fieldset">
                <input type="radio" name="color" value="black"
                  class="input-reset radio-color radio-color--black card__radio">
                <input type="radio" name="color" value="brown"
                  class="input-reset radio-color radio-color--brown card__radio">
                <input type="radio" name="color" value="turquoise"
                  class="input-reset radio-color radio-color--turquoise card__radio">
              </fieldset>
            </div>
            <button class="btn-reset btn-primary card__btn">
              <svg class="svg btn-primary__icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
              Add to cart
            </button>
          </div>
        </div>
      </article>
    </li>
    <li class="recently__item">
      <article class="card card--white card--abs recently__card">
        <div class="card__top">
          <a href="/product.html" aria-label="Go to product page" class="card__link">
            <picture class="picture card__picture">
              <source srcset="img/product-image-8.avif" type="image/avif">
              <source srcset="img/product-image-8.webp" type="image/webp">
              <img loading="lazy" src="img/product-image-8.jpg" class="image" width="390" height="440"
                alt="Chrono watch with blue leather belt">
            </picture>
          </a>
          <ul class="list-reset rating card__rating">
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star rating__star--noted"></li>
            <li class="rating__star"></li>
          </ul>
          <input type="checkbox" name="wishlist" class="input-reset checkbox-wishlist card__wishlist"
            aria-label="Add to wishlist">
        </div>
        <div class="card__bottom">
          <div class="card__head">
            <a href="/product.html" aria-label="Go to product page" class="card__link card__link--title">
              <h3 class="title card__title">Chrono watch with blue leather belt</h3>
            </a>
            <span class="card__price price">$120.60</span>
          </div>
          <div class="card__additional">
            <div class="card__options">
              <fieldset class="fieldset-reset card__fieldset">
                <input type="radio" name="size" value="36" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="37" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="38" class="input-reset radio-size card__radio">
                <input type="radio" name="size" value="39" class="input-reset radio-size card__radio">
              </fieldset>
              <fieldset class="fieldset-reset card__fieldset">
                <input type="radio" name="color" value="black"
                  class="input-reset radio-color radio-color--black card__radio">
                <input type="radio" name="color" value="brown"
                  class="input-reset radio-color radio-color--brown card__radio">
                <input type="radio" name="color" value="turquoise"
                  class="input-reset radio-color radio-color--turquoise card__radio">
              </fieldset>
            </div>
            <button class="btn-reset btn-primary card__btn">
              <svg class="svg btn-primary__icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
              Add to cart
            </button>
          </div>
        </div>
      </article>
    </li>
  </ul>
</div>
