<section class="subscribe">
  <div class="container subscribe__container">
    <div class="subscribe__content">
      <h2 class="title h2 subscribe__title anim-item anim-item--norepeat">Subscribe for updates</h2>
      <span class="subscribe__desc anim-item anim-item--norepeat">Subscribe for exclusive early sale access and new arrivals.</span>
      <form action="/" method="post" class="form subscribe__form">
        <div class="subscribe__form-btns anim-item anim-item--norepeat">
          <input type="checkbox" name="subscribe" class="input-reset teg subscribe__btn" value="Women" aria-label="Category: Women">
          <input type="checkbox" name="subscribe" class="input-reset teg subscribe__btn" value="Men" aria-label="Category: Men">
          <input type="checkbox" name="subscribe" class="input-reset teg subscribe__btn" value="Girls" aria-label="Category: Girls">
          <input type="checkbox" name="subscribe" class="input-reset teg subscribe__btn" value="Boys" aria-label="Category: Boys">
        </div>
        <div class="subscribe__form-wrapper anim-item anim-item--norepeat">
          <label class="label subscribe__label">
            <span class="subscribe__form-desc">Email</span>
            <input type="text" class="input-reset input input--email subscribe__form-input" placeholder="Your working email">
          </label>
          <button type="submit" class="btn-reset btn-primary subscribe__form-btn">Subscribe</button>
        </div>
        <label class="label subscribe__label subscribe__label--row anim-item anim-item--norepeat">
          <input type="checkbox" class="input-reset check-mark subscribe__checkbox">
          <span class="subscribe__form-desc">I agree to receive communications from Createx Store.</span>
        </label>
      </form>
    </div>
    <picture class="picture subscribe__picture anim-item anim-item--norepeat">
      <source srcset="img/subscribe-image.avif" type="image/avif">
      <source srcset="img/subscribe-image.webp" type="image/webp">
      <img loading="lazy" src="img/subscribe-image.png" class="image" width="460" height="416" alt="" aria-hidden="true">
    </picture>
  </div>
</section>
