<section class="track">
  <div class="container track__container">
    <div class="track__order-info">
      <h1 class="title h2 track__ttile">
        Track your order
      </h1>
      <h2 class="title track__subtitle">This form allows you to search for tracking details from anywhere within Createx
        Tracking Service.</h2>
      <form action="/" method="get" class="form track__form">
        <label class="label track__label">
          <span class="track__desc">Order No</span>
          <input type="text" class="input-reset input track__input" placeholder="Track your order"
            aria-label="Track entry field">
        </label>
        <button type="submit" class="btn-reset btn-primary track__btn">Search</button>
      </form>
      <ul class="list-reset track__info-list" tabindex="0" aria-label="Track info">
        <li class="track__info-item">
          <span class="track__info-accent">Order No:</span>
          <span class="track__inert">34BV66580K92</span>
        </li>
        <li class="track__info-item">
          <span class="track__info-accent">Shiped via:</span>
          <span class="track__inert">UPS Ground </span>
        </li>
        <li class="track__info-item">
          <span class="track__info-accent">Shipped on:</span>
          <span class="track__inert">August 29, 2020, 6:00 pm</span>
        </li>
        <li class="track__info-item">
          <span class="track__info-accent">Destination:</span>
          <span class="track__inert">London, United Kingdom</span>
        </li>
        <li class="track__info-item">
          <span class="track__info-accent">Expected date:</span>
          <span class="track__inert">September 4, 2020</span>
        </li>
        <li class="track__info-item">
          <span class="track__info-accent">Status:</span>
          <span class="track__inert">In Transit</span>
        </li>
      </ul>
      <label class="label track__label track__label--flex">
        <input type="checkbox" class="input-reset check-mark">
        <span class="track__desc">Notify me when order is delivered</span>
      </label>
    </div>
    <div class="track__table-overlay">
      <table class="track__table">
        <tr class="track__table-row">
          <th class="track__table-cell track__table-cell--accent">Status</th>
          <th class="track__table-cell track__table-cell--accent">Location</th>
          <th class="track__table-cell track__table-cell--accent">Date</th>
          <th class="track__table-cell track__table-cell--accent">Time</th>
        </tr>
        <tr class="track__table-row">
          <th class="track__table-cell track__table-cell--done time-line time-line--first time-line--done">Order Placed</th>
          <th class="track__table-cell track__table-cell--done">New York, USA</th>
          <th class="track__table-cell track__table-cell--done">August 29, 2020</th>
          <th class="track__table-cell track__table-cell--done">2:00 pm</th>
        </tr>
        <tr class="track__table-row">
          <th class="track__table-cell track__table-cell--done time-line time-line--done">Documentation Prepared</th>
          <th class="track__table-cell track__table-cell--done">New York, USA</th>
          <th class="track__table-cell track__table-cell--done">August 29, 2020</th>
          <th class="track__table-cell track__table-cell--done">3:30 pm</th>
        </tr>
        <tr class="track__table-row">
          <th class="track__table-cell track__table-cell--done time-line time-line--done">Booking Arranged</th>
          <th class="track__table-cell track__table-cell--done">New York, USA</th>
          <th class="track__table-cell track__table-cell--done">August 29, 2020</th>
          <th class="track__table-cell track__table-cell--done">3:35 pm</th>
        </tr>
        <tr class="track__table-row">
          <th class="track__table-cell track__table-cell--done time-line time-line--done">Collected</th>
          <th class="track__table-cell track__table-cell--done">New York, USA</th>
          <th class="track__table-cell track__table-cell--done">August 29, 2020</th>
          <th class="track__table-cell track__table-cell--done">4:00 pm</th>
        </tr>
        <tr class="track__table-row">
          <th class="track__table-cell track__table-cell--done time-line time-line--done time-line--last">In Transit to Destination</th>
          <th class="track__table-cell track__table-cell--done">New York, USA</th>
          <th class="track__table-cell track__table-cell--done">August 29, 2020</th>
          <th class="track__table-cell track__table-cell--done">6:00 pm</th>
        </tr>
        <tr class="track__table-row">
          <th class="track__table-cell time-line">Arrived at Destination</th>
          <th class="track__table-cell">London, United Kingdom</th>
          <th class="track__table-cell"></th>
          <th class="track__table-cell"></th>
        </tr>
        <tr class="track__table-row">
          <th class="track__table-cell time-line">Out for Delivery</th>
          <th class="track__table-cell">London, United Kingdom</th>
          <th class="track__table-cell"></th>
          <th class="track__table-cell"></th>
        </tr>
        <tr class="track__table-row">
          <th class="track__table-cell time-line time-line--end">Delivered</th>
          <th class="track__table-cell">London, United Kingdom</th>
          <th class="track__table-cell"></th>
          <th class="track__table-cell"></th>
        </tr>
      </table>
    </div>
  </div>
</section>
